/* You can add global styles to this file, and also import other style files */
@import "variables"

html, body
  height: 100%
  padding: 0
  margin: 0

.text-black
  color: #000

.cursor-pointer
  cursor: pointer

// override btn-group active color
[btnradiogroup] > .btn.btn-primary.active
  background-color: $primary

// override notification's z-index
.simple-notification-wrapper
  z-index: 5000 !important

fa-icon path
  fill-rule: evenodd

.interactive-icon
  cursor: pointer
  opacity: 0.5
  &:hover
    opacity: 1

.btn-xs
  line-height: 1.3
  padding: 0.15rem 0.3rem
  font-size: 0.75rem

.form-control-password
  padding-right: 2rem

  &.is-invalid
    padding-right: 3.25rem !important
  background-position: right 1.8rem center !important

  & ~ .password-toggle
    color: #bbb
    position: absolute
    top: 0.45rem
    right: 0.5rem
    cursor: pointer
