<div class="mb-1 d-flex justify-content-end">
  <uh4d-record-user-metadata
    class="mr-3"
    [metadata]="record"
    alignment="right"
  ></uh4d-record-user-metadata>
</div>

<div>
  <strong>Reference</strong>
  <p>
    <uh4d-citation-edit
      [(ngModel)]="record.bibtex"
      (saved)="updateText()"
      [enabled]="canEditText"
    ></uh4d-citation-edit>
  </p>
</div>
