<div class="list-container">
  <div class="tabs-container mb-3">
    <div>
      <div class="btn-group btn-group-sm" btnRadioGroup [(ngModel)]="recordType" (ngModelChange)="setFragment()">
        <button class="btn btn-tab" btnRadio="image">Images</button>
        <button class="btn btn-tab" btnRadio="text">Texts</button>
        <button class="btn btn-tab" btnRadio="object">Objects</button>
        <button class="btn btn-tab" btnRadio="poi">POIs</button>
      </div>
    </div>
    <div>
      <div
        class="btn-group btn-group-sm"
        btnRadioGroup
        [(ngModel)]="validationStatus"
        (ngModelChange)="setFragment()"
      >
<!--        <button-->
<!--          class="btn"-->
<!--          [ngClass]="validationStatus === 'accepted' ? 'btn-success' : 'btn-outline-success'"-->
<!--          btnRadio="accepted"-->
<!--        >Accepted</button>-->
        <button
          class="btn"
          [ngClass]="validationStatus === 'pending' ? 'btn-warning' : 'btn-outline-warning'"
          btnRadio="pending">Pending</button>
        <button
          class="btn"
          [ngClass]="validationStatus === 'declined' ? 'btn-danger' : 'btn-outline-danger'"
          btnRadio="declined">Declined</button>
      </div>
    </div>

    <div>
      <button class="btn btn-sm btn-dark" title="Reload" (click)="loadRecords()">
        <fa-icon icon="rotate-right"></fa-icon>
      </button>
    </div>
  </div>

  <uh4d-records-pages
    [records]="records"
    [loading]="isLoading"
    [recordExtraTpl]="extraTpl"
    [showMetadataDate]="true"
    (recordClick)="openRecord(recordType, $event)"
    cardsAlignment="start"
  ></uh4d-records-pages>

  <ng-template #extraTpl let-item>
    <div class="media-flags">
      <fa-icon
        *ngIf="item.spatialStatus >= 3"
        icon="cam-spatial-solid"
        title="Spatialized (Jump to location)"
      ></fa-icon>
      <fa-icon
        *ngIf="item.spatialStatus === 0"
        icon="cam-spatial-empty"
        title="Not yet spatialized"
      ></fa-icon>
      <fa-icon
        *ngIf="item.spatialStatus === 1"
        icon="cam-spatial-slash"
        title="Spatialization not possible"
      ></fa-icon>
      <fa-icon
        *ngIf="item.spatialStatus === 2"
        icon="cam-spatial-fog"
        title="Spatialization may be possible in future"
      ></fa-icon>
      <fa-icon
        *ngIf="item.annotationsAvailable"
        icon="img-annotation"
        title="Annotated"
      ></fa-icon>
      <fa-icon
        *ngIf="item.pending"
        icon="triangle-exclamation"
        class="text-warning"
        title="Pending"
      ></fa-icon>
      <fa-icon
        *ngIf="item.declined"
        icon="triangle-exclamation"
        class="text-danger"
        title="Declined"
      ></fa-icon>
    </div>
  </ng-template>
</div>

<div class="detail-container border-left border-secondary">
  <router-outlet></router-outlet>
</div>
