<div class="modal-header">
  <h5 class="modal-title">
    <fa-icon icon="tour-flag-plus"></fa-icon> New Tour
  </h5>
  <button class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form [formGroup]="tourForm">
    <div class="form-group">
      <label for="tour-title">Title</label>
      <input id="tour-title"
             class="form-control"
             formControlName="title"
             [class.is-invalid]="submitted && tourForm.controls.title.invalid">
    </div>
  </form>

  <label>Collected Points of Interest</label>

  <ul class="list-group"
      cdkDropList
      (cdkDropListDropped)="drop($event)">
    <li class="list-group-item d-flex"
        *ngFor="let p of pois"
        cdkDrag>
      <fa-icon icon="map-marker-alt"></fa-icon>
      <span class="mx-2 flex-grow-1 text-truncate">{{p.title}}</span>
      <fa-icon icon="times" class="interactive-icon" title="Remove" (click)="removePoi(p)"></fa-icon>
    </li>
  </ul>

</div>

<div class="modal-footer">
  <button class="btn btn-primary" (click)="save()" [disabled]="isSaving">
    <fa-icon icon="check"></fa-icon> Save
  </button>
  <button class="btn btn-secondary" (click)="close()">
    <fa-icon icon="times"></fa-icon> Cancel
  </button>
</div>
