@use "variables" as var

.list-group
  border: 1px solid var.$light

.list-group-item
  border-bottom: 1px solid var.$light
  cursor: move

  &:last-child
    border: 0

.cdk-drag-preview
  z-index: 1500 !important
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12)
.cdk-drag-placeholder
  opacity: 0.2
.cdk-drag-animating, .cdk-drop-list-dragging > :not(.cdk-drag-placeholder)
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

