<div *ngIf="useViewer" class="viewer">
  <uh4d-image-svg-viewer
    class="w-100 h-100"
    [file]="item.source.file"
  ></uh4d-image-svg-viewer>
  <button class="btn btn-primary btn-sm" (click)="exitViewer()">
    <fa-icon icon="times"></fa-icon> Close viewer
  </button>
</div>

<div *ngIf="item" class="jump-controls">

  <div class="row-jump">
    <div></div>
    <div class="btn-jump" title="Jump to next image in front" (click)="zoomNext('forward')">
      <fa-icon icon="angle-up"></fa-icon>
    </div>
    <div></div>
  </div>

  <div class="row-jump">
    <div class="btn-jump" title="Jump to next left image" (click)="zoomNext('left')">
      <fa-icon icon="angle-left"></fa-icon>
    </div>
    <div class="window">

      <div class="controls">
        <div class="d-flex caption">
          <div class="flex-grow-1 d-flex justify-content-center">
            <span class="text-truncate" [title]="item.source.title">{{ item.source.title }}</span>
            <span class="ml-2 text-nowrap">{{ item.source.date | formatImageDate }}</span>
          </div>
        </div>
        <div>
          <button class="btn btn-primary btn-sm" (click)="exit()"><fa-icon icon="undo-alt"></fa-icon> Exit image</button>
          <button class="btn btn-primary btn-sm ml-2" (click)="openImage()"><fa-icon icon="info-circle"></fa-icon> Open image...</button>
        </div>
      </div>

    </div>
    <div class="btn-jump" title="Jump to next right image" (click)="zoomNext('right')">
      <fa-icon icon="angle-right"></fa-icon>
    </div>
  </div>

  <div class="row-jump">
    <div></div>
    <div class="btn-jump" title="Jump to next image in back" (click)="zoomNext('backward')">
      <fa-icon icon="angle-down"></fa-icon>
    </div>
    <div></div>
  </div>

</div>
