@use "variables"

$btn-jump-width: 12px

\:host
  width: 100%
  height: 100%
  pointer-events: none !important

.controls
  pointer-events: auto
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)
  padding: 0.25rem 0.5rem 0.5rem
  background-color: variables.$viewportPanelBackground

  .caption
    font-size: 0.75rem
    margin-bottom: 0.25rem
    & > div
      width: 0

.jump-controls
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: flex
  flex-direction: column
  .row-jump
    display: flex
    &:nth-child(2n-1)
      flex: 0 0 $btn-jump-width
      height: $btn-jump-width
    &:nth-child(2)
      flex: 1
    & > div
      background-color: variables.$viewportPanelBackground
      &:nth-child(2n-1)
        flex: 0 0 $btn-jump-width
        width: $btn-jump-width
      &:nth-child(2)
        flex: 1
      &.window
        background: none
        position: relative

.btn-jump
  pointer-events: auto
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  &:hover
    background-color: variables.$gray-600 !important

.viewer
  pointer-events: auto
  width: 100%
  height: 100%
  background-color: variables.$viewportPanelBackground
  border: 4px solid variables.$primary

  & > button
    position: absolute
    top: 1rem
    right: 1rem
