<div
  class="card border border-secondary bg-transparent"
  [title]="item.title"
>
  <div class="card-img-top" [style.background-image]="'url(' + imageUrl() + ')'">
    <span *ngIf="similarity">{{ similarity | number:'1.1-6' }}</span>
  </div>
  <div class="card-body">
    <div class="mb-1" ngxCut [size]="3">{{ item.title }}</div>
    <p class="card-text" ngxCut [size]="3">
      <i>{{ printAuthor(item) || 'unknown' }} &ndash; {{ item.date | formatImageDate }}</i>
    </p>
  </div>
  <div class="media-extra" *ngIf="cardExtraTpl">
    <div>
      <ng-container *ngTemplateOutlet="cardExtraTpl; context: { $implicit: item }"></ng-container>
    </div>
    <div *ngIf="showMetadataDate" class="media-date">
      {{ (item.uploadedBy || item.createdBy)?.timestamp | date: 'short' }}
    </div>
  </div>
</div>
