@use "variables" as var

\:host
  display: block
  width: 165px
  margin: 3px
  max-height: 250px
  position: relative

.card
  width: 100%
  height: 100%
  &:hover
    border-color: var.$primary !important
    cursor: pointer
  & > .card-img-top
    height: 100px
    background-position: center
    background-size: cover
    & > span
      font-size: 12px
      color: #f00
      background-color: rgba(#fff, 0.7)
      display: inline-block
      position: absolute
      top: 0
      right: 0
      padding: 0 0.25rem
  & > .card-body
    padding: 0.4em
    line-height: initial
    font-size: 11px
    & > .card-text
      font-size: 10px
  & > .media-extra
    height: 1.5rem
    padding: 0 4px
    display: flex
    justify-content: space-between
    align-items: center

.media-date
  font-size: 10px
  color: var.$text-muted
  word-break: keep-all
