@use "variables"

\:host
  right: 0
  bottom: 0

  & > div
    background-color: variables.$viewportPanelBackground

.poi-item
  max-width: 200px

  & > fa-icon[icon="times"]
    cursor: pointer
    opacity: 0.5
    &:hover
      opacity: 1
