<div *ngIf="!editing">
  <span [class.empty]="!value.length">{{ value.length ? printValue() : placeholder }}</span>
  <fa-icon
    class="pencil-icon ml-3"
    title="Edit"
    *ngIf="enabled"
    (click)="edit()"
    icon="pencil-alt"></fa-icon>
</div>
<div *ngIf="editing">
  <tagify
    [(ngModel)]="value"
    [whitelist]="suggestions$"
    (tInput)="onInput($event)"
    [settings]="{ editTags: false }">
  </tagify>
  <div class="float-right">
    <button class="btn btn-success btn-sm" title="Save" (click)="save()">
      <fa-icon icon="check"></fa-icon>
    </button>
    <button class="btn btn-danger btn-sm" title="Cancel" (click)="cancel()">
      <fa-icon icon="times"></fa-icon>
    </button>
  </div>
</div>
