@use "variables" as var

\:host
  border-radius: 50%

.avatar-circle
  border-radius: 50%
  width: 2rem
  height: 2rem
  display: grid
  place-items: center
  user-select: none

  &.avatar-color-0
    background: var.$gray-700
  &.avatar-color-1
    background: #a6cee3
  &.avatar-color-2
    background: #1f78b4
  &.avatar-color-3
    background: #b2df8a
  &.avatar-color-4
    background: #33a02c
  &.avatar-color-5
    background: #fb9a99
  &.avatar-color-6
    background: #e31a1c
  &.avatar-color-7
    background: #fdbf6f
  &.avatar-color-8
    background: #ff7f00
  &.avatar-color-9
    background: #cab2d6
  &.avatar-color-10
    background: #6a3d9a
