<div [ngClass]="['avatar-circle', 'avatar-color-' + colorIndex]">
  <ng-container *ngIf="initials; else elseTpl">
    {{ initials }}
  </ng-container>
  <ng-template #elseTpl>
    <fa-icon class="dropdown-icon" [icon]="['far', 'user']"></fa-icon>
  </ng-template>
</div>
