<div
  class="d-flex justify-content-center lead text-muted"
  *ngIf="!texts.length"
>
  No texts available!
</div>

<div class="list-media" *ngIf="texts.length">
  <uh4d-record-media-item
    *ngFor="let text of texts"
    [item]="text"
    (click)="openText(text.id)"
  ></uh4d-record-media-item>
</div>
