<h4>Change password</h4>

<form [formGroup]="form" (ngSubmit)="save()">
  <div class="form-group">
    <label for="change-password">Password</label>
    <div class="position-relative">
      <input
        id="change-password"
        formControlName="password"
        class="form-control form-control-password"
        [type]="passwordVisible ? 'text' : 'password'"
        required
        [class.is-invalid]="
          form.controls.password.dirty && form.controls.password.invalid
        " />
      <fa-icon
        class="password-toggle"
        [icon]="passwordVisible ? 'eye-slash' : 'eye'"
        aria-hidden="true"
        (click)="passwordVisible = !passwordVisible"></fa-icon>
      <div class="invalid-feedback">
        <ng-container
          *ngTemplateOutlet="
            errorFeedback;
            context: { $implicit: form.controls.password.errors }
          "></ng-container>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="change-repeat">Repeat password</label>
    <div class="position-relative">
      <input
        id="change-repeat"
        formControlName="passwordRepeat"
        class="form-control form-control-password"
        [type]="passwordRepeatVisible ? 'text' : 'password'"
        required
        [class.is-invalid]="
          form.controls.passwordRepeat.dirty &&
          (form.controls.passwordRepeat.invalid ||
            form.errors?.['passwordMatch'])
        " />
      <fa-icon
        class="password-toggle"
        [icon]="passwordRepeatVisible ? 'eye-slash' : 'eye'"
        aria-hidden="true"
        (click)="passwordRepeatVisible = !passwordRepeatVisible"></fa-icon>
      <div class="invalid-feedback">
        <ng-container
          *ngTemplateOutlet="
            errorFeedback;
            context: { $implicit: form.controls.passwordRepeat.errors }
          "></ng-container>
        <div *ngIf="form.errors?.['passwordMatch']">
          Passwords don't match
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="form.invalid || isLoading">
      Save
    </button>
  </div>
</form>

<ng-template #errorFeedback let-error>
  <div *ngIf="error?.required">Required</div>
  <div *ngIf="error?.minlength">Minimum of 6 characters are required</div>
  <div *ngIf="error?.pattern">Space characters are forbidden</div>
</ng-template>
