<div class="d-flex header-container" *uh4dExhibitionMode="false">
  <div class="bg-dark p-2 d-flex align-items-center justify-content-center">
    <img src="../../assets/kv_histstadt4d.png" alt="UH4D Logo" title="Start page" height="40" routerLink="/"/>
  </div>
  <div class="flex-grow-1">
    <uh4d-explore-header></uh4d-explore-header>
  </div>
  <div class="bg-dark p-2 d-flex align-items-center justify-content-center">
    <uh4d-avatar-dropdown></uh4d-avatar-dropdown>
  </div>
</div>

<div class="flex-grow-1 d-flex">

  <div class="viewport-container">
    <uh4d-viewport3d></uh4d-viewport3d>
    <router-outlet></router-outlet>
  </div>

  <uh4d-results-collapse-container
    *uh4dExhibitionMode="false"
  ></uh4d-results-collapse-container>

</div>

<div class="footer-container" *uh4dExhibitionMode="true">
  <uh4d-explore-footer></uh4d-explore-footer>
</div>

<uh4d-footer
  *uh4dExhibitionMode="false"
  class="bg-dark"
></uh4d-footer>
