<div class="h-100 p-3 d-flex overflow-hidden">

  <div class="preview-container">
    <uh4d-image-svg-viewer
      [file]="image.file"
      [restricted]="!canEditImage && image.restrictedAccess"
      [annotations]="annotations"
      (annotationQueried)="searchAnnotation($event)"
    ></uh4d-image-svg-viewer>
  </div>

  <div class="info-container ml-4">

    <div class="info-header border-bottom border-secondary">
      <h5 class="w-100 mt-2">
        <uh4d-inline-edit
          [(ngModel)]="image.title"
          (saved)="updateTitle()"
          [enabled]="canEditImage"
        ></uh4d-inline-edit>
      </h5>
      <button
        type="button"
        class="close p-2"
        aria-label="Close"
        routerLink="../.."
        queryParamsHandling="preserve">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="info-body py-3">

      <cdk-accordion>
        <uh4d-accordion-item label="Metadata" [expanded]="true">

          <uh4d-image-metadata [image]="image"></uh4d-image-metadata>

          <uh4d-image-rephotos-list [image]="image"></uh4d-image-rephotos-list>

          <ng-container *ngxPermissionsOnly="'validateContent'">
            <uh4d-record-validation-box
              *ngIf="canValidate"
              [record]="image"
              [isLoading]="isUpdating"
              (validate)="validateImage($event)"
            ></uh4d-record-validation-box>
          </ng-container>

          <div *ngIf="canEditImage" class="p-2 bg-warning text-dark mb-3">
            <div *ngIf="fileUpdate?.updateAvailable">
              <p class="mb-1"><strong><u>Image file update available</u></strong></p>
              <p class="mb-1">
                Current image: <b>{{ image.file.width }} x {{ image.file.height }}</b><br/>
                New image: <b>{{ fileUpdate.width }} x {{ fileUpdate.height }}</b>
              </p>
              <p class="small mb-1">
                There is an image with a higher resolution available!<br/>
                If the image is already spatialized: Before you update the image,
                check if the content and aspect ratio is nearly the same.
                Otherwise, orientation might get messed up and you need to re-orientate the image.
              </p>
              <a class="btn btn-sm btn-secondary mr-2" [href]="fileUpdate!.url" target="_blank">
                <fa-icon icon="external-link-alt"></fa-icon> Check
              </a>
              <button class="btn btn-sm btn-secondary" [disabled]="isUpdating" (click)="updateFile()">
                <fa-icon icon="sync"></fa-icon> Update
              </button>
            </div>
            <div *ngIf="!fileUpdate?.updateAvailable">
              No image file update available.
            </div>
          </div>

        </uh4d-accordion-item>

        <uh4d-accordion-item label="Annotations" #annotationAccordionItem="uh4dAccordionItem">
          <ng-container *ngIf="annotations.length; else noAnnotations">
            <uh4d-annotation-cloud
              *ngIf="annotationAccordionItem.expanded"
              [annotations]="annotations"
            ></uh4d-annotation-cloud>
          </ng-container>
          <ng-template #noAnnotations>
            <div class="d-flex justify-content-center lead text-muted">
              No annotations available!
            </div>
          </ng-template>

          <ng-container *ngIf="similarRecords">
            <div class="records-container">
              <div
                *ngFor="let item of similarRecords.objects"
                class="btn btn-secondary btn-sm m-1"
                (click)="openRecord('object', item)"
              >
                {{ item.title }}<br>
                <span>{{ item.maxSimilarity | number:'1.1-6' }}</span>
              </div>
            </div>
            <div class="records-container">
              <uh4d-record-card-item
                *ngFor="let item of similarRecords.images"
                [item]="item"
                [similarity]="item.maxSimilarity"
                (click)="openRecord('image', item)"
              ></uh4d-record-card-item>
            </div>
            <div class="records-container">
              <uh4d-record-card-item
                *ngFor="let item of similarRecords.texts"
                [item]="item"
                [similarity]="item.maxSimilarity"
                (click)="openRecord('text', item)"
              ></uh4d-record-card-item>
            </div>
          </ng-container>
        </uh4d-accordion-item>

        <uh4d-accordion-item label="Image Caption">
          <uh4d-image-caption-experimental [image]="image"></uh4d-image-caption-experimental>
        </uh4d-accordion-item>
      </cdk-accordion>

    </div>

    <div class="info-footer border-top border-secondary">
      <div>
        <a
          *ngIf="canEditImage || !image.restrictedAccess"
          class="btn btn-sm btn-secondary"
          [href]="'data/' + image.file.path + image.file.original"
          target="_blank"
        ><fa-icon icon="download"></fa-icon>&ensp;Full size image</a>
        <a
          *ngIf="image.permalink"
          class="btn btn-sm btn-secondary"
          [href]="image.permalink"
          target="_blank"
        ><fa-icon icon="external-link-alt"></fa-icon>&ensp;Repository</a>
        <button
          *ngIf="image.spatialStatus >= 3"
          class="btn btn-sm btn-secondary"
          (click)="zoomImage()"
        ><fa-icon icon="cam-spatial-solid"></fa-icon>&ensp;Jump to location</button>
        <button
          *ngIf="canEditImage"
          class="btn btn-sm btn-outline-warning"
          [disabled]="isUpdating"
          (click)="spatialize()"
        >Spatialize</button>
        <button
          *ngIf="canEditImage"
          class="btn btn-sm btn-outline-warning"
          title="Link to objects"
          [disabled]="isUpdating"
          (click)="linkToObjects()"
        >
          <fa-icon icon="link"></fa-icon>
        </button>
        <ng-container *ngIf="canEditImage">
          <button
            *ngIf="expertMode"
            class="btn btn-sm btn-outline-danger"
            title="Rotate left"
            [disabled]="isUpdating"
            (click)="rotateImage(-90)"
          >
            <fa-icon icon="rotate-left"></fa-icon>
          </button>
          <button
            *ngIf="expertMode"
            class="btn btn-sm btn-outline-danger"
            title="Rotate right"
            [disabled]="isUpdating"
            (click)="rotateImage(90)"
          >
            <fa-icon icon="rotate-right"></fa-icon>
          </button>
          <button
            *ngIf="expertMode"
            class="btn btn-sm btn-outline-danger"
            [disabled]="isUpdating"
            (click)="updateThumbnails()"
          >Regenerate thumbnails</button>
          <button
            *ngIf="expertMode"
            class="btn btn-sm btn-outline-danger"
            [disabled]="isUpdating"
            (click)="removeImage()"
          >
            <fa-icon icon="trash"></fa-icon>&ensp;Delete
          </button>
        </ng-container>
      </div>
    </div>

  </div>

</div>
