<div class="svg-container">
  <svg #svgRoot>
    <g></g>
  </svg>

  <div
    class="svg-tooltip tooltip bs-tooltip-right"
    [class.show]="activeAnnotation"
    [style.left.px]="tooltipPosition.left"
    [style.top.px]="tooltipPosition.top"
  >
    <div class="tooltip-arrow arrow"></div>
    <div class="tooltip-inner">
      <div class="tooltip-content">
        <div *ngFor="let id of wikidata">
          WD: <b>{{ id.label }}</b><br>
          <small>
            <a
              [href]="'https://www.wikidata.org/wiki/' + id.identifier"
              target="_blank"
            >{{ id.identifier }}</a>
          </small><br>
          <i>{{ id.weight | number:'1.3-3' }}</i>
        </div>
        <div *ngFor="let id of aat">
          AAT: <b>{{ id.label }}</b><br>
          <small>
            <a
              [href]="'https://www.getty.edu/vow/AATFullDisplay?find=&logic=AND&note=&subjectid=' + id.identifier"
              target="_blank"
            >{{ id.identifier }}</a>
          </small><br>
          <i>{{ id.weight | number:'1.3-3' }}</i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="svg-viewer-controls" *ngIf="annotationData.length">
  <div class="custom-control custom-switch">
    <input
      type="checkbox"
      class="custom-control-input"
      id="annotationSwitch"
      [(ngModel)]="showAnnotations"
      (ngModelChange)="onShowAnnotationsChange()"
    >
    <label class="custom-control-label" for="annotationSwitch">Show annotations</label>
  </div>
</div>
