@import "variables"

\:host
  display: block
  position: relative

svg, .svg-container
  width: 100%
  height: 100%

.svg-container
  position: relative

svg ::ng-deep
  .annotation-poly
    & > path
      stroke-width: 2
      stroke-opacity: 0.8
      fill-opacity: 0.3
    &:hover > path
      fill: rgba(255, 255, 0, 0.75) !important
      stroke: #f00 !important
      stroke-dasharray: 6px
    &.active > path
      fill: #ff0 !important
      stroke: #f00 !important
      stroke-dasharray: none
    .weights
      pointer-events: none
      line
        stroke: #000
        stroke-width: 1px
      text
        fill: red

.svg-tooltip
  position: absolute
  pointer-events: none

  .tooltip-arrow
    top: 5px

  .tooltip-content
    font-size: 12px
    line-height: 1.1
    pointer-events: auto
    & > div:not(:last-child)
      border-bottom: 1px solid $dark
      padding-bottom: 0.25em
      margin-bottom: 0.25em

.svg-viewer-controls
  position: absolute
  left: 0
  top: 0
  background-color: $viewportPanelBackground
  padding: 0.3rem 0.65rem
