<p>Simply start typing and hit <kbd>ENTER</kbd>, <kbd>,</kbd>, or <kbd>SPACE</kbd> to perform a query.
  All entered keywords can be quickly removed by clicking the respective &times; button (or hit <kbd>&xlarr;</kbd> if focus is on this search bar).</p>
<p>
  <img src="assets/help/img/search-tags.png" alt="Search tags" class="img-fluid"/>
</p>

Special operators:
<ul style="padding-left: 20px">
  <li><kbd>-</kbd>: prefix keyword with minus for negative search</li>
  <li><kbd>"</kbd>: quote the entered string to include commas or space characters</li>
</ul>
