<p>Use the orange range slider to set a time span for the image query. Use the blue slider to load buildings for this respective time. Toggle maps by clicking on the green slots.</p>

<p>Use the mouse wheel to zoom into the timeline. Drag the white background to pan to the left or to the right.</p>

Options:
<ul>
  <li>Incl. Undated: Include all images that have no date set.</li>
  <li>Use as texture: Include images for which timespan has been set in which the image can be used as texture.</li>
</ul>
