<div class="preview-container">
  <uh4d-object-viewer
    [path]="'data/' + object.file.path + (object.vrcity_noEdges && object.file.noEdges ? object.file.noEdges : object.file.file)"
    [origin]="object.origin"
  ></uh4d-object-viewer>
</div>

<div class="info-container mx-3">

  <div class="info-header border-bottom border-secondary">
    <h5 class="w-100 mt-2">
      <uh4d-inline-edit
        [(ngModel)]="object.name"
        (saved)="updateName()"
        [enabled]="canEditObject"
      ></uh4d-inline-edit>
    </h5>
    <button
      type="button"
      class="close p-2"
      aria-label="Close"
      routerLink="../.."
      queryParamsHandling="preserve"
      [preserveFragment]="true"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="info-body py-3">

    <uh4d-object-metadata [object]="object"></uh4d-object-metadata>

    <div class="position-relative">
      <uh4d-map-interactive
        class="my-3"
        [location]="object.location"
        navigation="noScroll"
      ></uh4d-map-interactive>

      <button class="btn btn-sm btn-secondary" (click)="openScene()">Open scene</button>
    </div>

    <ng-container *ngxPermissionsOnly="'validateContent'">
      <uh4d-record-validation-box
        *ngIf="canValidate"
        [record]="object"
        [isLoading]="isUpdating"
        (validate)="validateObject($event)"
      ></uh4d-record-validation-box>
    </ng-container>

  </div>

</div>
