form
  display: flex
  align-items: baseline
  justify-content: space-evenly
  flex-wrap: wrap
  padding: 0.12rem
  & > div
    margin: 0.12rem 0.5rem

.sort-icons
  position: relative
  padding: 0 0.25rem !important
  font-size: 1rem !important
  & > fa-icon
    z-index: 5
    &:hover
      color: yellow
      cursor: pointer
    &.active
      color: orange
      position: absolute
      z-index: 4

.dropdown-menu
  padding: 0.25rem 0
  & > li
    padding: 0.25rem 0.75rem
