<form [formGroup]="form">

  <div class="input-group input-group-sm w-auto">
    <div class="input-group-prepend">
      <span class="input-group-text">Sort by</span>
    </div>
    <select class="form-control border-0" formControlName="sortBy">
      <option value="title">Title</option>
      <option value="author">Author</option>
      <option value="date">Date</option>
      <option value="relevance">Relevance</option>
    </select>
    <div class="input-group-append" title="Reverse order">
        <span class="input-group-text sort-icons">
          <fa-icon
            icon="sort-up"
            [class.active]="form.value.sortDesc"
            (click)="form.patchValue({ sortDesc: true })">
          </fa-icon>
          <fa-icon
            icon="sort-down"
            [class.active]="!form.value.sortDesc"
            (click)="form.patchValue({ sortDesc: false })">
          </fa-icon>
        </span>
    </div>
  </div>

  <div
    *ngIf="extraFilter"
    class="btn-group-sm position-relative"
    dropdown
    [insideClick]="true"
  >
    <button
      dropdownToggle
      class="btn"
      [ngClass]="'btn-' + (form.value.filterSpatialized || form.value.filterAnnotated ? 'primary' : 'secondary')"
    >
      <fa-icon icon="filter-custom"></fa-icon>
    </button>
    <ul *dropdownMenu class="dropdown-menu">
      <li class="dropdown-item">
        <div class="custom-control custom-switch">
          <input
            type="checkbox"
            class="custom-control-input"
            id="filterSpatialized"
            formControlName="filterSpatialized"
          >
          <label class="custom-control-label" for="filterSpatialized">
            <fa-icon icon="cam-spatial-solid"></fa-icon> Only spatialized
          </label>
        </div>
      </li>
      <li class="dropdown-item">
        <div class="custom-control custom-switch">
          <input
            type="checkbox"
            class="custom-control-input"
            id="filterAnnotated"
            formControlName="filterAnnotated"
          >
          <label class="custom-control-label" for="filterAnnotated">
            <fa-icon icon="img-annotation"></fa-icon> Only annotated
          </label>
        </div>
      </li>
    </ul>
  </div>

  <div class="input-group input-group-sm w-auto" title="Number of results">
    <select class="form-control border-0" formControlName="itemsPerPage">
      <option [value]="20">20</option>
      <option [value]="50">50</option>
      <option [value]="100">100</option>
    </select>
  </div>

  <div class="btn-group btn-group-sm" btnRadioGroup formControlName="listStyle">
    <button
      btnRadio="card"
      class="btn"
      [class.btn-primary]="form.value.listStyle === 'card'"
      [class.btn-secondary]="form.value.listStyle !== 'card'">
      <fa-icon icon="th-large"></fa-icon>
    </button>
    <button
      btnRadio="list"
      class="btn"
      [class.btn-primary]="form.value.listStyle === 'list'"
      [class.btn-secondary]="form.value.listStyle !== 'list'">
      <fa-icon icon="th-list"></fa-icon>
    </button>
  </div>

  <ng-container *ngTemplateOutlet="headerExtraTpl"></ng-container>

</form>
