:host
  display: block
  position: relative

.map-container
  width: 100%
  height: 100%

.tooltip
  position: absolute
  padding: 0.25rem 0.5rem
  opacity: 0.8
  z-index: 1000
  border: 1px dashed #999
  background: #666
  color: #fff
