<ng-container [ngSwitch]="step">
  <div *ngSwitchDefault>
    <p>
      Enter username or e-mail address to request a code.
      This will be sent by SMS to the phone number you have provided.
    </p>

    <form [formGroup]="form" (submit)="requestCode()">
      <div class="form-group">
        <label for="login-user">Username or e-mail</label>
        <input
          id="login-user"
          formControlName="username"
          class="form-control"
          required
          [class.is-invalid]="
            form.controls.username.dirty && form.controls.username.invalid
          " />
        <div class="invalid-feedback">Required</div>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary btn-block"
          type="submit"
          [disabled]="form.invalid || isLoading">
          Request code
        </button>
      </div>
    </form>
  </div>

  <div *ngSwitchCase="'verify'" class="d-flex flex-column align-items-center">
    <h5 class="mb-3">Enter verification code</h5>

    <code-input
      [codeLength]="6"
      [initialFocusField]="0"
      (codeCompleted)="verifyCode($event)"
      [disabled]="isVerifying"></code-input>

    <p class="my-4">
      Code has been sent to {{ maskedPhone }}
    </p>

    <button class="btn btn-outline-warning btn-block" (click)="backToForm()">
      Back
    </button>
  </div>
</ng-container>
