@use "variables"

$collapsedHeight: 70px
$titleHeight: 20px

\:host
  position: relative
  height: $collapsedHeight
  display: block

.tabs
  height: 100%

  & > div
    cursor: pointer
    height: 100%
    padding: 0
    border-left: 1px solid variables.$secondary
    display: flex
    flex-direction: column

    & > span
      flex: 0 0 $titleHeight
      padding: 1px 0.5rem 0
      font-size: 13px
      text-transform: uppercase
      cursor: pointer

    & > div
      flex: 1
      position: relative
      //&::after
      //  content: ' '
      //  position: absolute
      //  width: 100%
      //  height: 100%
      //  top: 0
      //  left: 0
      //  background-color: transparent

    &:hover
      & > span
        background-color: variables.$dark
      & > div::after
        background-color: rgba(variables.$secondary, 0.4)

    &.active > span
      background-color: variables.$dark

.expand-container
  position: absolute
  top: $titleHeight
  width: 100%
  margin-left: 1px
  visibility: hidden
  z-index: 10
  & > div
    position: absolute
    //visibility: hidden
    top: 0
    width: 100%
    //background-color: variables.$dark
    box-shadow: 0 4px 4px rgba(#000, 0.5)
