<div class="container-fluid h-100">

  <div class="row tabs">
    <div class="col-5"
         [class.active]="activeTab === 'meta'"
         (click)="expand('meta')">
      <span>Search Metadata</span>
      <div>
        <uh4d-search-bar id="tab-meta"></uh4d-search-bar>
      </div>
    </div>

    <div class="col-5"
         [class.active]="activeTab === 'time'"
         (click)="expand('time')">
      <span>Time Slider</span>
      <div>
        <uh4d-time-slider id="tab-slider" [preview]="true"></uh4d-time-slider>
      </div>
    </div>

    <div class="col-2"
         [class.active]="activeTab === 'viz'"
         (click)="expand('viz')">
      <span>Visualizations</span>
      <div>
        <uh4d-visualization-panel-preview></uh4d-visualization-panel-preview>
      </div>
    </div>
  </div>

</div>

<div class="expand-container" [class.visible]="expanded">

  <div class="d-none" [class.d-block]="activeTab === 'meta'">
    <uh4d-metasearch></uh4d-metasearch>
  </div>

  <div style="height: 50px; visibility: hidden" [class.visible]="activeTab === 'time'">
    <uh4d-time-slider id="full-slider"></uh4d-time-slider>
  </div>

  <div style="visibility: hidden" [class.visible]="activeTab === 'viz'">
    <uh4d-visualization-panel></uh4d-visualization-panel>
  </div>

</div>
