@use "variables"

\:host
  font-size: 0.875rem

.filter-header
  background-color: variables.$dark

.filter-container
  background-color: rgba(variables.$body-bg, 0.9)
  overflow: hidden

.filter-title
  font-size: 13px
  text-transform: uppercase

.filter-section
  display: inline-flex
  flex-direction: column
  max-height: 50vh
  margin-right: 2rem
  & > ul
    margin: 0
    overflow-y: auto
    & > li
      padding: 0.25rem 0.5rem
      max-width: 400px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      &::before
        content: ' '
        display: inline-block
        width: 1em
        margin-right: 0.25rem
        text-align: center
      &:not(.text-muted):hover
        background-color: variables.$secondary
        cursor: pointer
      &.active
        background-color: variables.$light
        color: #000
        &::before
          content: '\02713'
        &:hover
          background-color: lighten(#c77777, 10%)
          &::before
            content: '\02717'
