<div class="d-flex align-items-center filter-header">
  <uh4d-search-bar id="full-meta" class="flex-grow-1"></uh4d-search-bar>
  <uh4d-quick-help key="search-bar" class="mx-2" style="font-size: 1.2rem"></uh4d-quick-help>
</div>

<div class="border border-top-0 border-dark p-3 filter-container">
  <div class="filter-title mb-2">Additional Filter</div>
  <div>

    <div class="filter-section">
      <div class="border-light border-top border-bottom p-1"><fa-icon icon="user"></fa-icon> Authors</div>
      <i *ngIf="!authorsFiltered.length" class="p-2 text-muted">No authors available!</i>
      <ul class="list-unstyled">
        <li *ngFor="let author of authorsFiltered"
            [class.active]="author.active"
            [title]="author.value"
            (click)="filterAuthor(author)">
          {{author.value}}
        </li>
      </ul>
    </div>

    <div class="filter-section">
      <div class="border-light border-top border-bottom p-1"><fa-icon icon="university"></fa-icon> Owners</div>
      <i *ngIf="!ownersFiltered.length" class="p-2 text-muted">No owners available!</i>
      <ul class="list-unstyled">
        <li *ngFor="let owner of ownersFiltered"
            [class.active]="owner.active"
            [title]="owner.value"
            (click)="filterOwner(owner)">
          {{owner.value}}
        </li>
      </ul>
    </div>

    <div class="filter-section">
      <div class="border-light border-top border-bottom p-1"><fa-icon icon="building-custom"></fa-icon> Objects</div>
      <i *ngIf="!objects.length" class="p-2 text-muted">No objects available!</i>
      <ul class="list-unstyled">
        <li *ngFor="let obj of objects"
            [class.active]="obj.active"
            [title]="obj.name"
            (click)="filterObject(obj)">
          {{obj.name}}
        </li>
      </ul>
    </div>

  </div>
</div>
