<ng2-pdfjs-viewer
  *ngIf="textFileValue && activeViewer === 'pdf'"
  #pdfViewer
  [pdfSrc]="'/data/' + textFileValue.path + textFileValue.pdf"
></ng2-pdfjs-viewer>

<div class="text-wrapper" *ngIf="activeViewer === 'plain'" (click)="backgroundClick()">
  <uh4d-text-viewer-annotation
    *ngFor="let ann of annotatedText"
    [data]="ann"
    [disabled]="!showAnnotations"
    (annotationQueried)="annotationQueried.emit($event)"
  ></uh4d-text-viewer-annotation>
</div>

<div class="viewer-switch">
  <div class="btn-group btn-group-sm" btnRadioGroup [(ngModel)]="activeViewer">
    <label class="btn btn-secondary mb-btn" btnRadio="plain" [disabled]="!plainTextAvailable">Plain text</label>
    <label class="btn btn-secondary mb-btn" btnRadio="pdf" [disabled]="!pdfAvailable">PDF</label>
  </div>
</div>

<div class="text-viewer-controls" *ngIf="annotationsAvailable">
  <div class="custom-control custom-switch">
    <input
      type="checkbox"
      class="custom-control-input"
      id="annotationSwitch"
      [(ngModel)]="showAnnotations"
    >
    <label class="custom-control-label" for="annotationSwitch">Show annotations</label>
  </div>
</div>
