@use "variables" as var

\:host
  display: block

ng2-pdfjs-viewer::ng-deep > iframe
  border: 0

.text-wrapper
  height: 100%
  padding: 1rem 1.5rem
  overflow-y: auto
  background: #fff
  color: var.$dark
  cursor: text
  overflow-wrap: anywhere

.viewer-switch
  position: absolute
  bottom: 0
  left: 0
  right: 0
  display: flex
  justify-content: center
  pointer-events: none
  .btn-group
    pointer-events: auto
  .btn
    margin: 0

.text-viewer-controls
  position: absolute
  left: 0
  bottom: 0
  background-color: var.$viewportPanelBackground
  padding: 0.3rem 0.65rem
