<div class="modal-header">
  <h4 class="modal-title">Upload images</h4>
  <button class="close" (click)="close()">&times;</button>
</div>

<div class="modal-body"
     ng2FileDrop
     [uploader]="uploader"
     (fileOver)="hasFileOverDropZone = $event"
     [class.file-over]="hasFileOverDropZone">

  <div class="background" (click)="fileInput.click()">

    <input
      type="file"
      #fileInput
      ng2FileSelect
      [uploader]="uploader"
      (click)="$event.stopPropagation()"
    />

    <div *ngIf="!uploader.queue.length" class="lead">
      <fa-icon icon="file-upload"></fa-icon> Drop files<br>
      or<br>
      <fa-icon icon="hand-pointer"></fa-icon> Click to open file dialog
    </div>

  </div>

  <div class="file-preview-container">

    <div *ngFor="let file of uploader.queue" class="file-preview">
      <img [uh4dPreview]="file._file">
      <button class="btn btn-xs btn-danger" title="Remove" (click)="file.remove()">
        <fa-icon icon="trash"></fa-icon>
      </button>
      <div *ngIf="file.isUploading || file.isUploaded">
        <div *ngIf="!file.isSuccess && !file.isError" class="spinner-border text-primary" role="status"></div>
        <fa-icon *ngIf="file.isSuccess" icon="check-circle" class="text-success"></fa-icon>
        <fa-icon *ngIf="file.isError" icon="exclamation-circle" class="text-danger"></fa-icon>
      </div>
      <span>{{ file.file.name }}</span>
      <progressbar [value]="file.progress"></progressbar>
    </div>

  </div>

</div>

<div class="modal-footer">

  <button
    class="btn btn-primary"
    [disabled]="!isUploadEnabled()"
    (click)="uploadAll()"
  >
    <fa-icon icon="cloud-upload-alt"></fa-icon> Upload all
  </button>
  <button class="btn btn-secondary" (click)="close()">Close</button>

</div>
