<div dropdown class="position-relative d-inline-flex" placement="bottom right">
  <uh4d-user-avatar dropdownToggle [user]="user"></uh4d-user-avatar>
  <div *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
    <ng-template [ngxPermissionsOnly]="'GUEST'">
      <button class="dropdown-item" (click)="openLogin()">
        <fa-icon icon="right-to-bracket"></fa-icon>&ensp;Login
      </button>
    </ng-template>
    <ng-template [ngxPermissionsOnly]="'USER'">
      <span class="dropdown-item-text text-center py-0">{{ user.name }}</span>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item" routerLink="/dashboard">Dashboard</button>
      <button class="dropdown-item" routerLink="/profile">Profile</button>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item" (click)="logout()">
        <fa-icon icon="right-from-bracket"></fa-icon>&ensp;Logout
      </button>
    </ng-template>
  </div>
</div>
