<div class="d-flex">
  <div class="p-3 border-right border-secondary">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="."
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >Profile</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="password"
          routerLinkActive="active"
        >Change password</a>
      </li>
    </ul>
  </div>

  <div class="p-3 flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
