<div *ngIf="rephotoOf.length">
  <strong>Rephoto of</strong>
  <p class="d-flex flex-wrap">
    <uh4d-record-card-item
      *ngFor="let item of rephotoOf"
      [item]="item"
      [cardExtraTpl]="rephotoCardExtraTpl"
      [routerLink]="['..', item.id]"
      queryParamsHandling="preserve"
    ></uh4d-record-card-item>
  </p>
</div>

<div *ngIf="hasRephoto.length">
  <strong>Rephotos</strong>
  <p class="d-flex flex-wrap">
    <ng-container *ngFor="let item of hasRephoto">
      <uh4d-record-card-item
        *ngIf="(!item.pending && !item.declined) || canEditImage"
        [item]="item"
        [cardExtraTpl]="rephotoCardExtraTpl"
        [routerLink]="['..', item.id]"
        queryParamsHandling="preserve"
      ></uh4d-record-card-item>
    </ng-container>
  </p>
</div>

<ng-template #rephotoCardExtraTpl let-item>
  <div class="media-flags">
    <fa-icon
      *ngIf="item.spatialStatus >= 3"
      icon="cam-spatial-solid"
      title="Spatialized (Jump to location)"
      (click)="zoomRephoto($event, item)"
    ></fa-icon>
    <fa-icon
      *ngIf="item.spatialStatus === 0"
      icon="cam-spatial-empty"
      title="Not yet spatialized"
    ></fa-icon>
    <fa-icon
      *ngIf="item.spatialStatus === 1"
      icon="cam-spatial-slash"
      title="Spatialization not possible"
    ></fa-icon>
    <fa-icon
      *ngIf="item.spatialStatus === 2"
      icon="cam-spatial-fog"
      title="Spatialization may be possible in future"
    ></fa-icon>
    <fa-icon
      *ngIf="item.pending"
      icon="triangle-exclamation"
      class="text-warning"
      title="Unvalidated"
    ></fa-icon>
    <fa-icon
      *ngIf="item.declined"
      icon="triangle-exclamation"
      class="text-danger"
      title="Declined"
    ></fa-icon>
    <ng-container *ngIf="canEditImage">
      <fa-icon
        *ngIf="item.type === 'has-rephoto'"
        icon="camera-retro"
        title="Adopt orientation from rephoto"
        (click)="adoptRephotoSpatial($event, item)"
      ></fa-icon>
    </ng-container>
  </div>
</ng-template>
