<div class="modal-header">
  <h5 class="modal-title">
    <fa-icon icon="draw-polygon"></fa-icon> Edit user geofence
  </h5>
  <button class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <p>Set geofence for user <b>{{ user.name }}</b> by drawing one or more circles.</p>
  <uh4d-map-editable-geojson
    [geoJson]="geoJson"
    (geoJsonChange)="onGeoJsonUpdate($event)"
  ></uh4d-map-editable-geojson>
  <div class="text-muted small">
    Ctrl + Click to delete feature
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" (click)="save()" [disabled]="isSaving">Save</button>
  <button class="btn btn-secondary" (click)="close()">Cancel</button>
</div>
