<h4>Profile</h4>

<div *ngIf="user" class="card p-3">
  <div>Username:</div>
  <div>{{ user.name }}</div>
  <div>E-Mail:</div>
  <div>{{ user.email }}</div>
  <div>Phone number:</div>
  <div>{{ user.phone }}</div>
</div>
