<canvas #canvasElement></canvas>

<div class="preview-canvas-container" *ngIf="showPreviewCanvas">
  <canvas #previewCanvasElement width="250" height="250"></canvas>
  <div class="preview-controls">
    <button class="btn btn-sm btn-primary" (click)="savePoiCamera()">
      <fa-icon icon="check"></fa-icon> Save
    </button>
    <button class="btn btn-sm btn-secondary" (click)="stopPoiCameraPreview()">
      <fa-icon icon="times"></fa-icon> Cancel
    </button>
  </div>
</div>
