\:host
  display: block
  width: 100%
  height: 100%
  position: absolute
  overflow: hidden
  background-color: #666

canvas
  //width: 100%
  //height: 100%
  &:focus
    outline: none

.preview-canvas-container
  position: absolute
  bottom: 0
  right: 0
  border: 4px solid #333
  width: 258px
  height: 258px
  pointer-events: none

.preview-controls
  position: absolute
  bottom: 0
  right: 0
  pointer-events: auto
