<ul class="controls-nav">
  <li title="Navigation"
      (click)="toggleGroup('navigation')"
      [class.active]="activeGroup === 'navigation'">
    <fa-icon icon="compass"></fa-icon>
  </li>
  <li title="Image Settings"
      (click)="toggleGroup('image')"
      [class.active]="activeGroup === 'image'">
    <fa-icon icon="image"></fa-icon>
  </li>
  <li title="Object Settings"
      (click)="toggleGroup('object')"
      [class.active]="activeGroup === 'object'">
    <fa-icon icon="building-custom"></fa-icon>
  </li>
  <li title="Map/Terrain Settings"
      (click)="toggleGroup('map')"
      [class.active]="activeGroup === 'map'">
    <fa-icon icon="map"></fa-icon>
  </li>
  <li title="Points of Interest"
      *ngxPermissionsOnly="['createPOIs', 'managePOIs']"
      (click)="toggleGroup('poi')"
      [class.active]="activeGroup === 'poi'">
    <fa-icon icon="map-marker-alt"></fa-icon>
  </li>
  <li title="Useful Tools"
      (click)="toggleGroup('tools')"
      [class.active]="activeGroup === 'tools'">
    <fa-icon icon="tools"></fa-icon>
  </li>
</ul>

<div class="controls-container">

  <div *ngIf="activeGroup === 'navigation'">
    <div class="controls-title">
      Navigation
    </div>
    <div class="controls-group">
      <button class="control"
              title="Home View"
              (click)="callAction('home-view')">
        <fa-icon icon="home"></fa-icon>
      </button>
<!--      <button class="control active" title="Map Controls">-->
<!--        <fa-icon icon="map"></fa-icon>-->
<!--      </button>-->
<!--      <button class="control" title="Orbit Controls">-->
<!--        <fa-icon icon="map-marker"></fa-icon>-->
<!--      </button>-->
      <uh4d-quick-help class="mx-1" key="navigation"></uh4d-quick-help>
    </div>
  </div>

  <div *ngIf="activeGroup === 'image'">
    <div class="controls-title">
      Image Settings
    </div>
    <div class="controls-group">
      <uh4d-slider-control identifier="rangeImageOpacity"
                           label="Image Opacity"
                           [min]="0" [max]="100" [step]="5"
                           [(ngModel)]="imageOpacity"
                           (ngModelChange)="setImageOpacity()"
                           [left]="faSquareEmpty" [right]="faSquareFull">
      </uh4d-slider-control>
      <uh4d-slider-control identifier="rangeImageScale"
                           label="Image Scale"
                           [min]="2" [max]="20" [step]="1"
                           [(ngModel)]="imageScale"
                           (ngModelChange)="setImageScale()"
                           [left]="faSearchMinus" [right]="faSearchPlus">
      </uh4d-slider-control>
    </div>

    <div class="controls-title">
      Cluster Settings
    </div>
    <div class="controls-group">
      <div class="custom-control custom-switch">
        <input type="checkbox"
               class="custom-control-input"
               id="switchClusterEnabled"
               [(ngModel)]="clusterEnabled"
               (change)="toggleClustering()">
        <label class="custom-control-label" for="switchClusterEnabled">Enable Clustering</label>
      </div>
      <uh4d-slider-control identifier="rangeClusterDistance"
                           label="Cluster Distance"
                           [min]="1" [max]="100" [step]="1"
                           [(ngModel)]="clusterDistance"
                           (input)="setClusterDistance()"
                           [left]="faSearchMinus" [right]="faSearchPlus">
      </uh4d-slider-control>
    </div>
  </div>

  <div *ngIf="activeGroup === 'object'">
    <div class="controls-title">
      Object Shading
    </div>
    <div class="controls-group">
      <select class="form-control form-control-sm"
              [(ngModel)]="activeShading"
              (change)="setShading()"
              [disabled]="states.projectiveSetup"
      >
        <option *ngFor="let s of shadings | keyvalue" [ngValue]="s.key">{{s.value}}</option>
      </select>
    </div>
    <div class="controls-title">
      OpenStreetMap
    </div>
    <div class="controls-group">
      <div class="custom-control custom-switch">
        <input type="checkbox"
               class="custom-control-input"
               id="switchOsmBuildings"
               [(ngModel)]="showOsmBuildings"
               (change)="toggleOsmBuildings()">
        <label class="custom-control-label" for="switchOsmBuildings">Show OSM buildings</label>
      </div>
    </div>
    <ng-container *ngxPermissionsOnly="'uploadObjects'">
      <div class="controls-title">
        Upload
      </div>
      <div class="controls-group">
        <button class="control control-label" title="Upload model" (click)="openUploadModal()">
          <fa-icon icon="cloud-upload-alt"></fa-icon> Upload
        </button>
      </div>
    </ng-container>
  </div>

  <div *ngIf="activeGroup === 'map'">
    <div class="controls-title">
      Terrain Settings
    </div>
    <div class="controls-group">
      <uh4d-slider-control identifier="rangeTerrainOpacity"
                           label="Terrain Opacity"
                           [min]="0" [max]="100" [step]="5"
                           [(ngModel)]="terrainOpacity"
                           (ngModelChange)="setTerrainOpacity()"
                           [left]="faSquareEmpty" [right]="faSquareFull">
      </uh4d-slider-control>
    </div>
  </div>

  <div *ngIf="activeGroup === 'poi'">
    <ng-container *ngxPermissionsOnly="'createPOIs'">
      <div class="controls-title">
        Points of Interest (POI)
      </div>
      <div class="controls-group">
        <div class="small">POI Creation Mode: {{states.poiCreating ? 'on' : 'off'}}</div>
        <button class="control control-label" title="Add POI" *ngIf="!states.poiCreating" (click)="callAction('poi-start')">
          <fa-icon icon="plus-circle"></fa-icon> Add POI
        </button>
        <button class="control control-label" title="Cancel POI creation" *ngIf="states.poiCreating" (click)="callAction('poi-end')">
          <fa-icon [icon]="['far', 'times-circle']"></fa-icon> Cancel
        </button>
      </div>
    </ng-container>
    <ng-container *ngxPermissionsOnly="['createTours', 'manageTours']">
      <div class="controls-title">
        Tours
      </div>
      <div class="controls-group">
        <button
          *ngxPermissionsOnly="'manageTours'"
          class="control"
          title="Tour Manager"
          (click)="openTourManager()"
        >
          <fa-icon icon="tour-flag"></fa-icon>
        </button>
        <button
          *ngxPermissionsOnly="'createTours'"
          class="control"
          title="Create tour"
          (click)="toggleTourCreation()"
        >
          <fa-icon icon="tour-flag-plus"></fa-icon>
        </button>
      </div>
    </ng-container>
  </div>

  <div *ngIf="activeGroup === 'tools'">
    <div class="controls-title">
      Useful Tools
    </div>
    <div class="controls-group">
      <button class="control control-label"
              title="Take screenshot of scene"
              (click)="callAction('screenshot')">
        <fa-icon icon="screenshot"></fa-icon> Screenshot
      </button>
    </div>
  </div>

</div>

<ng-template #faSquareEmpty><fa-icon [icon]="['far', 'square']"></fa-icon></ng-template>
<ng-template #faSquareFull><fa-icon icon="square"></fa-icon></ng-template>
<ng-template #faSearchMinus><fa-icon icon="search-minus"></fa-icon></ng-template>
<ng-template #faSearchPlus><fa-icon icon="search-plus"></fa-icon></ng-template>
