@use "variables"

$backgroundColor: rgba(#333, 0.8)
$hoverColor: variables.$gray-600
$activeColor: variables.$warning

\:host
  display: flex

ul.controls-nav
  list-style: none
  margin: 0
  padding-inline-start: 0
  border-right: 2px solid $activeColor
  background-color: variables.$viewportPanelBackground

  & > li
    width: 2rem
    height: 2rem
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    &:hover
      background-color: $hoverColor
    &.active
      color: variables.$dark
      background-color: $activeColor


.controls-container
  align-self: flex-start
  background-color: variables.$viewportPanelBackground
  //border-top: 2px solid $activeColor

.controls-title
  font-size: 0.6rem
  font-weight: bold
  text-transform: uppercase
  padding: 0.2rem 0.75rem
  background-color: variables.$gray-800

.controls-group
  //margin: 0 -0.1rem
  padding: 0.3rem 0.65rem

.control
  background-color: transparent
  border: none
  margin: 0 0.1rem
  padding: 0
  width: 1.6rem
  height: 1.6rem
  color: variables.$body-color
  &:hover
    background-color: $hoverColor
  &.active
    color: variables.$dark
    background-color: $activeColor

.control.control-label
  width: auto
  padding: 0 0.25rem
  font-size: 0.875rem
  & > fa-icon
    font-size: 1rem

.control-slider
  & > label
    margin: 0
  & > div
    display: flex
    align-items: center
    & > input
      margin: 0 0.5rem
