@use "variables" as var

.empty
  color: var.$gray-600
  font-style: italic

.pencil-icon
  color: var.$gray-600
  cursor: pointer
  &:hover
    color: var.$body-color

.citation
  word-break: break-word
