<div class="modal-header">
  <h5 class="modal-title" [ngSwitch]="mode">
    <ng-container *ngSwitchDefault>Login</ng-container>
    <ng-container *ngSwitchCase="'register'">Sign-in</ng-container>
    <ng-container *ngSwitchCase="'forgot-password'">Forgot password?</ng-container>
  </h5>
  <button class="close" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body" [ngSwitch]="mode">
  <ng-container *ngSwitchDefault>
    <uh4d-login></uh4d-login>

    <p class="text-center m-0">
      Don't have any account?
      <a href="#" (click)="setMode($event, 'register')">
        Register
      </a>
    </p>
    <p class="text-center m-0">
      <a href="#" (click)="setMode($event, 'forgot-password')">
        Forgot password?
      </a>
    </p>
  </ng-container>

  <ng-container *ngSwitchCase="'register'">
    <uh4d-register></uh4d-register>
  </ng-container>

  <ng-container *ngSwitchCase="'forgot-password'">
    <uh4d-forgot-password></uh4d-forgot-password>
  </ng-container>
</div>
