@use "variables" as var

.viz-header
  height: 50px
  display: flex
  align-items: center
  background-color: var.$dark

uh4d-legend-gradient
  width: 400px
  margin: 0 0 -6px

.viz-container
  padding: 0.5rem
  display: flex
  flex-wrap: wrap
  background-color: rgba(var.$body-bg, 0.9)

.card
  width: 240px
  margin: 0.5rem
  cursor: pointer

  .card-title
    margin: 0
    text-shadow: 0 0 5px #000

  &:hover
    border: 1px solid var.$primary
  &.active
    border: 1px solid var.$primary
    outline: 1px solid var.$primary


.viz-none
  height: 135px
  background-color: var.$gray-700
