<div class="viz-header p-2" *ngIf="!activeViz">
  <span class="lead">No visualization active.</span>
</div>

<div class="viz-header p-2" *ngIf="activeViz">
  <span class="lead">{{activeViz.label}}</span>
  <uh4d-legend-gradient [gradient]="gradientConfig.gradient"
                        [domain]="gradientConfig.domain">
  </uh4d-legend-gradient>
</div>

<div class="viz-container">

  <div class="card"
       *ngFor="let viz of availableViz"
       [class.active]="activeType === viz[0]"
       (click)="select(viz[0])">
    <div class="position-relative">
      <img class="card-img-top" [src]="viz[1].imgSrc" [alt]="viz[1].label"/>
      <div class="card-img-overlay d-flex justify-content-center align-items-center">
        <h5 class="card-title">{{viz[1].label}}</h5>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">{{viz[1].description}}</div>
    </div>
  </div>

  <div class="card" [class.active]="activeType === 'none'" (click)="select('none')">
    <div class="position-relative">
      <div class="card-img-top viz-none"></div>
      <div class="card-img-overlay d-flex justify-content-center align-items-center">
        <h5 class="card-title"><fa-icon icon="ban"></fa-icon> None</h5>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">Disable visualization.</div>
    </div>
  </div>

</div>
