<div class="preview-container">
  <uh4d-image-svg-viewer
    [file]="image.file"
    [restricted]="!canEditImage && image.restrictedAccess"
  ></uh4d-image-svg-viewer>
</div>

<div class="info-container mx-3">

  <div class="info-header border-bottom border-secondary">
    <h5 class="w-100 mt-2">
      <uh4d-inline-edit
        [(ngModel)]="image.title"
        (saved)="updateTitle()"
        [enabled]="canEditImage"
      ></uh4d-inline-edit>
    </h5>
    <button
      type="button"
      class="close p-2"
      aria-label="Close"
      routerLink="../.."
      queryParamsHandling="preserve"
      [preserveFragment]="true"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="info-body py-3">

    <uh4d-image-metadata [image]="image"></uh4d-image-metadata>

    <div class="position-relative">
      <uh4d-map-interactive
        class="mb-3"
        [location]="image.camera"
        navigation="noScroll"
      ></uh4d-map-interactive>

      <button class="btn btn-sm btn-secondary" (click)="openScene()">Open scene</button>
    </div>

    <ng-container *ngxPermissionsOnly="'validateContent'">
      <uh4d-record-validation-box
        *ngIf="canValidate"
        [record]="image"
        [isLoading]="isUpdating"
        (validate)="validateImage($event)"
      ></uh4d-record-validation-box>
    </ng-container>

  </div>

</div>
