@use "variables" as var

.preview-container
  height: 250px
  position: relative
  & > uh4d-image-svg-viewer
    height: 100%
    border: 1px solid #333
    background: var.$grayRadialBackground

.info-header
  display: flex
  justify-content: space-between
  align-items: flex-start

uh4d-map-interactive
  height: 250px
  & + button
    position: absolute
    right: 0
    bottom: 0
    z-index: 1000
