@use "variables"

\:host
  width: 100%
  height: 100%
  pointer-events: none !important

  & > div
    position: absolute
    pointer-events: auto
    padding: 20px

ul
  background-color: variables.$dark

  & > li
    &.list-group-item-title
      padding: 0.1rem 0.5rem
      font-size: 0.8rem
      & > span
        width: 0
    &.list-group-item-action
      padding: 0.25rem 0.5rem
      font-size: 0.85rem
      cursor: pointer
