<div
  class="item-header"
  role="button"
  (click)="toggle()"
>
  <fa-icon [icon]="expanded ? 'chevron-down' : 'chevron-right'"></fa-icon>
  <span>{{ label }}</span>
  <div></div>
</div>
<div
  class="item-body"
  role="region"
  [style.display]="expanded ? '' : 'none'">
  <ng-content></ng-content>
</div>
