@use "variables" as var

.item-header
  margin-bottom: 0.5rem
  display: flex
  align-items: center
  & > fa-icon
    width: 20px
    font-size: 0.875rem
  & > div
    flex: 1
    margin-left: 1rem
    border-bottom: 1px solid var.$secondary

.item-body
  margin-bottom: 1rem
