@use "variables"

\:host
  left: 0
  right: 0
  bottom: 0
  display: flex
  justify-content: center
  pointer-events: none !important

  & > div
    pointer-events: auto
    width: 600px
    max-width: 80%
    background-color: variables.$viewportPanelBackground
