<div *ngIf="item" class="p-2 small d-flex align-items-center">
  <uh4d-slider-control
    class="flex-grow-1"
    type="inline"
    label="Projection distance"
    [right]="distanceTpl"
    [min]="5" [max]="300" [step]="1"
    [(ngModel)]="distance"
    (ngModelChange)="changeDistance()"
    (mouseup)="blur($event)"
  ></uh4d-slider-control>
  <ng-template #distanceTpl>{{ distance }}</ng-template>

  <div class="ml-3">
    <button
      class="btn btn-sm btn-primary"
      (click)="save()"
      [disabled]="isSaving"
    ><fa-icon icon="save"></fa-icon> Save</button>&nbsp;
    <button
      class="btn btn-sm btn-secondary"
      (click)="exit()"
      [disabled]="isSaving"
    ><fa-icon icon="times"></fa-icon> Abort</button>
  </div>
</div>
