<div *ngIf="poi; else createTpl" class="p-3">
  <uh4d-poi-sheet
    [poi]="poi"
    (closed)="close()"
  ></uh4d-poi-sheet>
</div>

<ng-template #createTpl>
  <div class="modal-header">
    <h5 class="modal-title">
      <fa-icon icon="map-marker-alt"></fa-icon>&ensp;Create Point of Interest
    </h5>
    <button class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="p-3">
    <uh4d-poi-form
      [object]="object"
      [position]="position"
      (saved)="onCreate($event)"
      (canceled)="close()"
    ></uh4d-poi-form>
  </div>
</ng-template>
