<div
  class="media border border-secondary"
  [title]="item.title"
>
  <div class="media-thumb mr-3" [style.background-image]="'url(' + imageUrl() + ')'">
    <span *ngIf="similarity">{{ similarity | number:'1.1-6' }}</span>
  </div>
  <div class="media-body">
    <div class="media-title" ngxCut [size]="3">{{ item.title }}</div>
    <p class="mb-0" ngxCut [size]="3">
      <i>{{ printAuthor(item) || 'unknown' }} &ndash; {{ item.date | formatImageDate }}</i>
    </p>
  </div>
  <div class="media-extra" *ngIf="cardExtraTpl">
    <div style="width: 1.5rem">
      <ng-container *ngTemplateOutlet="cardExtraTpl; context: { $implicit: item }"></ng-container>
    </div>
    <div *ngIf="showMetadataDate" class="media-date">
      {{ (item.uploadedBy || item.createdBy)?.timestamp | date: 'short' }}
    </div>
  </div>
</div>
