@use "variables" as var

\:host
  display: block

.media
  position: relative
  &:hover
    border-color: var.$primary !important
    cursor: pointer
  & > .media-thumb
    width: 160px
    height: 90px
    background-position: center
    background-size: cover
    position: relative
    & > span
      font-size: 12px
      color: #f00
      background-color: rgba(#fff, 0.7)
      display: inline-block
      position: absolute
      top: 0
      right: 0
      padding: 0 0.25rem
  & > .media-body
    margin: 4px 4px 4px 0
    line-height: initial
    font-size: 13px
    & > .media-title
      font-weight: bold
      margin-bottom: 4px
  & > .media-extra
    margin: 4px
    text-align: center
    align-self: stretch
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: end

.media-date
  font-size: 10px
  color: var.$text-muted
  word-break: keep-all
