@use "variables"

\:host
  width: 100%
  height: 100%
  pointer-events: none !important

.image-layer
  position: absolute
  width: 100%
  height: 100%
  background-size: auto 100%
  background-position: center
  background-repeat: no-repeat

.controls-container, .controls-legend
  pointer-events: auto

.controls-container
  position: absolute
  width: 50%
  bottom: 0
  left: 50%
  transform: translateX(-50%)
  background-color: variables.$viewportPanelBackground

.controls-legend
  position: absolute
  bottom: 0
  right: 0
  background-color: variables.$viewportPanelBackground
