<div
  *ngIf="image"
  class="image-layer"
  [ngStyle]="{'background-image': 'url(data/' + image.file.path + image.file.preview + ')', opacity: opacity / 100}"
></div>

<div *ngIf="image && camera" class="controls-container p-2">
  <div class="row">
    <uh4d-slider-control
      class="col-12"
      type="inline"
      label="FOV"
      [min]="5" [max]="85" [step]="0.5"
      [(ngModel)]="camera!.fov"
      (ngModelChange)="changeFOV()"
      (mouseup)="blur($event)"
      [left]="faAngle" [right]="faAngle"
    ></uh4d-slider-control>
  </div>

  <div class="row">
    <uh4d-slider-control
      class="col-6"
      type="inline"
      label="Opacity"
      [min]="0" [max]="100" [step]="5"
      [(ngModel)]="opacity"
      (mouseup)="blur($event)"
      [left]="faSquareEmpty" [right]="faSquareFull"
    ></uh4d-slider-control>
    <uh4d-slider-control
      class="col-6"
      type="inline"
      label="Precision"
      [min]="0.1" [max]="2" [step]="0.1"
      [(ngModel)]="precision"
      (change)="changePrecision()"
      (mouseup)="blur($event)"
    ></uh4d-slider-control>
  </div>
</div>

<div *ngIf="image" class="controls-legend p-2 small">

  <div *ngIf="controlMode === 'fly'" class="mb-2">
    <h6>Keyboard configuration</h6>

    <div><kbd>W</kbd>|<kbd>S</kbd> Forward | Backward</div>
    <div><kbd>A</kbd>|<kbd>D</kbd> Left | Right</div>
    <div><kbd>R</kbd>|<kbd>F</kbd> Up | Down</div>
    <div><kbd>Q</kbd>|<kbd>E</kbd>&ngsp;<fa-icon icon="undo-alt"></fa-icon> | <fa-icon icon="redo-alt"></fa-icon></div>
    <div><kbd><fa-icon icon="long-arrow-alt-up"></fa-icon></kbd>|<kbd><fa-icon icon="long-arrow-alt-down"></fa-icon></kbd> Pitch Up | Down</div>
    <div><kbd><fa-icon icon="long-arrow-alt-left"></fa-icon></kbd>|<kbd><fa-icon icon="long-arrow-alt-right"></fa-icon></kbd> Yaw Left | Right</div>
  </div>

  <h6>Navigation Mode</h6>
  <div
    class="btn-group btn-group-sm mb-2"
    btnRadioGroup
    [(ngModel)]="controlMode"
    (ngModelChange)="setControls()"
  >
    <button
      btnRadio="default"
      class="btn btn-sm"
      [class.btn-primary]="controlMode === 'default'"
      [class.btn-secondary]="controlMode !== 'default'"
      (mouseup)="blur($event)"
    >
      <fa-icon icon="satellite"></fa-icon> Default
    </button>
    <button
      btnRadio="fly"
      class="btn btn-sm"
      [class.btn-primary]="controlMode === 'fly'"
      [class.btn-secondary]="controlMode !== 'fly'"
      (mouseup)="blur($event)"
    >
      <fa-icon icon="helicopter"></fa-icon> Fly
    </button>
  </div>

  <div>
    <button class="btn btn-sm btn-primary" (click)="save()">
      <fa-icon icon="save"></fa-icon> Save
    </button>&nbsp;
    <button class="btn btn-sm btn-secondary" (click)="abort()">
      <fa-icon icon="times"></fa-icon> Abort
    </button>
  </div>

</div>

<ng-template #faAngle>
  <fa-icon icon="angle-left"></fa-icon>
</ng-template>
<ng-template #faSquareEmpty>
  <fa-icon [icon]="['far', 'square']"></fa-icon>
</ng-template>
<ng-template #faSquareFull>
  <fa-icon icon="square"></fa-icon>
</ng-template>
