@use "variables" as var

:host
  display: block
  height: 100%
  overflow-y: auto

thead
  position: sticky
  top: 0

td
  vertical-align: middle

select[disabled]
  background-color: var.$text-muted
