<table class="table table-hover">
  <thead>
    <tr class="table-secondary">
      <th>Name</th>
      <th>E-mail</th>
      <th>Phone</th>
      <th>Role</th>
      <th>Actions</th>
      <th>Last login</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>
        <select
          class="form-control form-control-sm"
          [(ngModel)]="user.role"
          (ngModelChange)="updateUserRole(user)"
          [disabled]="user.id === authUser.id"
        >
          <option [ngValue]="null">Normal user</option>
          <option [ngValue]="'creator'">Creator</option>
          <option [ngValue]="'moderator'">Moderator</option>
          <option [ngValue]="'admin'">Admin</option>
        </select>
      </td>
      <td>
        <button
          *ngIf="user.role === 'creator'"
          class="btn btn-sm btn-secondary"
          title="Set geofence"
          (click)="openGeofenceModal(user)"
        >
          <fa-icon icon="draw-polygon"></fa-icon>
          <span class="badge badge-pill badge-primary ml-1">{{ user.geofences.length }}</span>
        </button>
      </td>
      <td>{{ user.lastLogin | date: 'medium' }}</td>
    </tr>
  </tbody>
</table>
