<form [formGroup]="form" (ngSubmit)="login()">
  <div class="form-group">
    <label for="login-user">Username or e-mail</label>
    <input
      id="login-user"
      formControlName="username"
      class="form-control"
      required
      [class.is-invalid]="
        form.controls.username.dirty && form.controls.username.invalid
      " />
    <div class="invalid-feedback">Required</div>
  </div>

  <div class="form-group">
    <label for="login-password">Password</label>
    <div class="position-relative">
      <input
        id="login-password"
        formControlName="password"
        class="form-control form-control-password"
        [type]="passwordVisible ? 'text' : 'password'"
        required
        [class.is-invalid]="
          form.controls.password.dirty && form.controls.password.invalid
        " />
      <fa-icon
        class="password-toggle"
        [icon]="passwordVisible ? 'eye-slash' : 'eye'"
        aria-hidden="true"
        (click)="passwordVisible = !passwordVisible"></fa-icon>
      <div class="invalid-feedback">Required</div>
    </div>
  </div>

  <div class="form-group">
    <button
      class="btn btn-primary btn-block"
      type="submit"
      [disabled]="form.invalid || isLoading">
      Login
    </button>
  </div>
</form>
