<div class="modal-body lead text-break" [innerHTML]="message"></div>

<div class="modal-footer">
  <button class="btn btn-primary" (click)="confirm()">
    <fa-icon icon="check"></fa-icon> {{ confirmLabel }}
  </button>
  <button class="btn btn-secondary" (click)="decline()">
    <fa-icon icon="times"></fa-icon> {{ declineLabel }}
  </button>
</div>
