<div class="h-100 p-3 d-flex overflow-hidden">

  <div class="preview-container">
    <uh4d-object-viewer
      [path]="'data/' + object.file.path + (object.vrcity_noEdges && object.file.noEdges ? object.file.noEdges : object.file.file)"
      [origin]="object.origin"
      [annotations]="annotations"
      (annotationQueried)="querySimilarAnnotations($event)"
    ></uh4d-object-viewer>
  </div>

  <div class="info-container ml-4">

    <div class="info-header border-bottom border-secondary">
      <h5 class="w-100 mt-2">
        <uh4d-inline-edit
          [(ngModel)]="object.name"
          (saved)="updateName()"
          [enabled]="canEditObject"
        ></uh4d-inline-edit>
      </h5>
      <button type="button" class="close p-2" aria-label="Close" routerLink="../.." queryParamsHandling="preserve">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="info-body py-3">

      <cdk-accordion>
        <uh4d-accordion-item label="Metadata" [expanded]="true">

          <uh4d-object-metadata [object]="object"></uh4d-object-metadata>

          <ng-container>
            <uh4d-record-validation-box
              *ngIf="canValidate"
              [record]="object"
              [isLoading]="isUpdating"
              (validate)="validateObject($event)"
            ></uh4d-record-validation-box>
          </ng-container>

        </uh4d-accordion-item>

        <uh4d-accordion-item label="Associated Literature">
          <p class="text-center" *ngxPermissionsOnly="'uploadTexts'">
            <button
              class="btn btn-sm btn-secondary"
              (click)="openTextUploadModal()"
            >
              <fa-icon icon="cloud-upload-alt"></fa-icon> Upload text
            </button>
          </p>
          <uh4d-text-list [objectId]="object.id"></uh4d-text-list>
        </uh4d-accordion-item>

        <uh4d-accordion-item label="Annotations" #annotationAccordionItem="uh4dAccordionItem">
          <ng-container *ngIf="annotations.length; else noAnnotations">
            <uh4d-annotation-cloud
              *ngIf="annotationAccordionItem.expanded"
              [annotations]="annotations"
            ></uh4d-annotation-cloud>
          </ng-container>
          <ng-template #noAnnotations>
            <div class="d-flex justify-content-center lead text-muted">
              No annotations available!
            </div>
          </ng-template>

          <ng-container *ngIf="similarRecords">
            <div class="records-container">
              <div
                *ngFor="let item of similarRecords.objects"
                class="btn btn-secondary btn-sm m-1"
                (click)="openRecord('object', item)"
              >
                {{ item.title }}<br>
                <span>{{ item.maxSimilarity | number:'1.1-6' }}</span>
              </div>
            </div>
            <div class="records-container">
              <uh4d-record-card-item
                *ngFor="let item of similarRecords.images"
                [item]="item"
                [similarity]="item.maxSimilarity"
                (click)="openRecord('image', item)"
              ></uh4d-record-card-item>
            </div>
            <div class="records-container">
              <uh4d-record-card-item
                *ngFor="let item of similarRecords.texts"
                [item]="item"
                [similarity]="item.maxSimilarity"
                (click)="openRecord('text', item)"
              ></uh4d-record-card-item>
            </div>
          </ng-container>
        </uh4d-accordion-item>
      </cdk-accordion>

    </div>

    <div class="info-footer border-top border-secondary">
      <div>
        <button class="btn btn-sm btn-secondary" (click)="zoomObject()">
          <fa-icon icon="cube"></fa-icon>&ensp;Jump to location
        </button>
        <a
          *ngIf="object.zenodo_doi"
          class="btn btn-sm btn-secondary"
          [href]="object.zenodo_doi"
          target="_blank"
        ><fa-icon icon="external-link-alt"></fa-icon>&ensp;Zenodo</a>
        <ng-container *ngIf="canEditObject">
          <button class="btn btn-sm btn-secondary" (click)="downloadObject()">
            <fa-icon icon="download"></fa-icon>&ensp;Download OBJ
          </button>
          <button *ngIf="expertMode" class="btn btn-sm btn-outline-danger" (click)="updateTransform()">
            <fa-icon icon="arrows-alt"></fa-icon>&ensp;Update transform
          </button>
          <ng-container *ngxPermissionsOnly="'duplicateObjects'">
            <button *ngIf="expertMode" class="btn btn-sm btn-outline-danger" (click)="duplicateObject()">
              <fa-icon icon="copy"></fa-icon>&ensp;Duplicate
            </button>
          </ng-container>
          <button *ngIf="expertMode" class="btn btn-sm btn-outline-danger" (click)="removeObject()">
            <fa-icon icon="trash"></fa-icon>&ensp;Delete
          </button>
        </ng-container>
      </div>
    </div>

  </div>

</div>
