<form [formGroup]="poiForm">
  <div class="form-group">
    <label for="poi-title">Title</label>
    <input
      id="poi-title"
      class="form-control"
      formControlName="title"
      [class.is-invalid]="submitted && poiForm.controls.title.invalid"
    />
  </div>

  <div class="form-group">
    <div *ngIf="object" class="custom-control custom-checkbox">
      <input
        type="checkbox"
        class="custom-control-input"
        id="poi-use-date"
        formControlName="useObjectDate"
      />
      <label for="poi-use-date" class="custom-control-label">
        Use time span from object: <b>{{ object.name }}</b>
      </label>
    </div>
    <small *ngIf="object" class="form-text text-muted">
      Either bind to the object's erection and destruction dates or set independent dates.
    </small>
    <fieldset [disabled]="poiForm.value.useObjectDate">
      <div class="form-row">
        <div class="col">
          <label for="poi-from">From</label>
          <input
            id="poi-from"
            class="form-control form-control-sm"
            type="date"
            formControlName="from"
          />
        </div>
        <div class="col">
          <label for="poi-to">To</label>
          <input
            id="poi-to"
            class="form-control form-control-sm"
            type="date"
            formControlName="to"
          />
        </div>
      </div>
    </fieldset>
  </div>

  <label>Damage factors</label>
  <div class="form-group row" formArrayName="factors">
    <div class="col-4" *ngFor="let factor of damageFactors; index as i">
      <div class="custom-control custom-checkbox">
        <input
          type="checkbox"
          class="custom-control-input"
          [id]="'factor' + i"
          [formControlName]="i"
        />
        <label class="custom-control-label" [for]="'factor' + i">{{ factor.label }}</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="poi-content" class="d-flex justify-content-between align-items-center">
      <span>Content</span>
      <button class="btn btn-xs btn-outline-light" (click)="showPreview = !showPreview">
        <fa-icon icon="code"></fa-icon> Toggle {{ showPreview ? 'Form' : 'Preview' }}
      </button>
    </label>
    <ng-container *ngIf="!showPreview; else previewTpl">
      <textarea
        id="poi-content"
        class="form-control"
        rows="8"
        formControlName="content"
        [class.is-invalid]="submitted && poiForm.controls.content.invalid"
      ></textarea>
      <small class="form-text text-muted">
        Use
        <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">
          <fa-icon [icon]="['fab', 'markdown']"></fa-icon> Markdown
        </a> syntax to format the text.
        Or paste a single link if you want to embed a website.
      </small>
    </ng-container>
    <ng-template #previewTpl>
      <uh4d-poi-content [content]="poiForm.value.content"></uh4d-poi-content>
    </ng-template>
  </div>

  <div class="mt-3">
    <button class="btn btn-sm btn-primary mr-2" (click)="save()" [disabled]="isSaving">
      <fa-icon icon="check"></fa-icon> Save
    </button>
    <button class="btn btn-sm btn-secondary" (click)="canceled.emit()">
      <fa-icon icon="times"></fa-icon> Cancel
    </button>
  </div>
</form>
