<div class="container">

  <div class="jumbotron">
    <h1 class="display-1">UrbanHistory4D</h1>
    <p class="lead">Browsing and Experiencing Spatially Oriented Historic Photographic Images</p>

    <hr class="my-4"/>

    <p class="text-center">
      <a class="btn btn-lg btn-primary mx-1" routerLink="explore">Start exploring <fa-icon icon="arrow-alt-circle-right"></fa-icon></a>
      <a class="btn btn-lg btn-warning m-1" href="http://www.urbanhistory4d.org/" target="_blank">More information <fa-icon icon="external-link-alt"></fa-icon></a>
    </p>

    <p>The project &raquo;Urban History 4D&laquo; focuses on four-dimensional research and communication of urban history. Its aim is to make available a city’s development over time together with related historic sources, especially photographs, through a virtual spatial model.</p>

    <figure class="figure">
      <img src="assets/home/intro01.png" alt="Collage of historic photographs" class="figure-img img-fluid"/>
      <figcaption class="figure-caption text-white-50">Picture credits: Deutsche Fotothek</figcaption>
    </figure>

    <p>Funded by the Federal Ministry of Education and Research (BMBF), it is a cooperation project between the <b>Technische Universität Dresden</b> and <b>University of Würzburg</b>. The aim is to investigate and develop methods and technologies to transfer extensive repositories of historical media and their contextual information into a three-dimensional spatial model, with an additional temporal component. This will make content accessible to different target groups, researchers and the general public, via a 4D browser. The data resources available for this research include extensive stock of historical photographs of the city of Dresden, which document the city's architecture since the 1850s, and digitized map collections of the <b>German Photographic Collection</b> (Deutsche Fotothek) platform.</p>

    <figure class="figure">
      <img src="assets/home/intro02.jpg" alt="4D browser insight" class="figure-img img-fluid"/>
      <figcaption class="figure-caption text-white-50">4D browser with location-based photographs indicating the position of the photographers.</figcaption>
    </figure>

    <p>Using digital content und tools provides a valuable support for researchers especially in art history to investigate how the city was photographed over time, taking into account the photographers' perspectives, positions, and preferred (parts of) buildings. The large number of photographs call for a suitable quantitative examination using scientific visualizations.</p>

    <figure class="figure w-100">
      <img src="assets/home/intro03.png" alt="Scientific visualizations" class="figure-img img-fluid w-100"/>
      <figcaption class="figure-caption text-white-50">Possible scientific visualizations.</figcaption>
    </figure>

  </div>

  <div class="jumbotron">
    <h2>Recommended system requirements</h2>
    <p>Since this is a prototype application, it is not yet optimized to work in all browser equally and not all possible interaction modes are implemented yet.</p>
    <p>For best experience, stick to the following requirements:</p>
    <ul>
      <li>Latest browser with HTML5/WebGL support (performs best in Google Chrome)</li>
      <li>Full HD resolution (1920x1080 pixels)</li>
      <li>Not yet optimized for touch interaction, mouse is recommended</li>
    </ul>
  </div>

</div>
