<div *ngIf="item" (click)="exit()" [@fadeImage]="item">
  <div class="polaroid-frame">
    <div class="overflow-hidden">
      <img [src]="'data/' + item.source.file.path + item.source.file.preview">
    </div>
    <div class="text-center text-black mt-2">
      <div>
      <span>{{ item.source.title }}</span>
      <span class="ml-2" *ngIf="item.source.date">{{ item.source.date | formatImageDate }}</span>
      </div>
    </div>
    <button class="close text-secondary" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
