\:host
  width: 100%
  height: 100%
  pointer-events: none !important

  & > div
    width: 100%
    height: 100%
    overflow: hidden
    padding: 5%
    pointer-events: auto
    display: flex
    justify-content: center
    align-items: center
    filter: drop-shadow(0 0 10px #000)

.polaroid-frame
  position: relative
  max-width: 100%
  max-height: 100%
  background: #fff
  display: grid
  grid-template-columns: minmax(min-content, 50vw)
  grid-template-rows: 1fr min-content
  padding: 2rem

img
  width: 100%
  height: 100%
  object-fit: contain

button.close
  position: absolute
  top: 6px
  right: 12px
