\:host
  width: 100%
  height: 100%
  display: flex
  flex-direction: column

uh4d-header
  flex: 0 0 auto

.outlet-container
  flex: 1
  position: relative
  overflow-y: auto
  display: flex
  flex-direction: column

  ::ng-deep router-outlet + *
    flex: 1
