@use "variables" as var

\:host
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: var.$body-bg

.info-container
  flex: 1
  display: flex
  flex-direction: column

.info-header
  display: flex
  justify-content: space-between
  align-items: flex-start

.info-body
  flex: 1
  overflow-y: auto

.norm-data-description
  display: flex
  gap: 2rem
  & > div
    & > strong + p
      white-space: nowrap

.records-container
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
