<div class="h-100 p-3 d-flex overflow-hidden">

  <div class="info-container">

    <div class="info-header border-bottom border-secondary">
      <h5 class="w-100 mt-2">{{ title }}</h5>
      <button type="button" class="close p-2" aria-label="Close" routerLink="../.." queryParamsHandling="preserve">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="info-body py-3">

      <cdk-accordion>
        <uh4d-accordion-item label="Norm Data" [expanded]="true">
          <div class="norm-data-description">
            <div *ngIf="wikiImageUrl">
              <img [src]="wikiImageUrl"/>
            </div>
            <div *ngIf="data.wikidata">
              <strong>Wikidata</strong>
              <p>{{ data.wikidata.label }}
                <a
                  [href]="'https://www.wikidata.org/wiki/' + data.wikidata.identifier"
                  target="_blank"
                >{{ data.wikidata.identifier }}</a>
              </p>
              <p>{{ descWiki }}</p>
            </div>
            <div *ngIf="data.aat">
              <strong>Getty AAT</strong>
              <p>{{ data.aat.label }}
                <a
                  [href]="'https://www.getty.edu/vow/AATFullDisplay?find=&logic=AND&note=&subjectid=' + data.aat.identifier"
                  target="_blank"
                >{{ data.aat.identifier }}</a>
              </p>
              <p>{{ descAAT }}</p>
            </div>
          </div>
        </uh4d-accordion-item>

        <uh4d-accordion-item label="Associated Images">
          <div class="records-container">
            <uh4d-record-card-item
              *ngFor="let item of data.images"
              [item]="item"
              (click)="openImage(item.id)"
            ></uh4d-record-card-item>
          </div>
        </uh4d-accordion-item>

        <uh4d-accordion-item label="Associated Literature">
          <div class="records-container">
            <uh4d-record-card-item
              *ngFor="let item of data.texts"
              [item]="item"
              (click)="openText(item.id)"
            ></uh4d-record-card-item>
          </div>
        </uh4d-accordion-item>
      </cdk-accordion>

    </div>

  </div>

</div>
