<div class="mb-1 d-flex justify-content-between">
  <div>
    <ng-container [ngSwitch]="record.spatialStatus">
      <fa-icon *ngSwitchCase="0" icon="cam-spatial-empty" title="Not yet spatialized"></fa-icon>
      <fa-icon *ngSwitchCase="1" icon="cam-spatial-slash" title="Spatialization not possible"></fa-icon>
      <fa-icon *ngSwitchCase="2" icon="cam-spatial-fog" title="Spatialization may be possible in future"></fa-icon>
      <fa-icon *ngSwitchCase="3" icon="cam-spatial-solid" title="Spatialized (only position)"></fa-icon>
      <fa-icon *ngSwitchCase="4" icon="cam-spatial-solid" title="Spatialized (manually)"></fa-icon>
      <fa-icon *ngSwitchCase="5" icon="cam-spatial-solid" title="Spatialized (pipeline)"></fa-icon>
      <fa-icon *ngSwitchCase="6" icon="cam-spatial-solid" title="Spatialized (rephoto)"></fa-icon>
    </ng-container>
    <fa-icon *ngIf="record.restrictedAccess" class="ml-2" icon="exclamation-triangle" title="Restricted access due to copyright"></fa-icon>
  </div>
  <uh4d-record-user-metadata
    class="mr-3"
    [metadata]="record"
    alignment="right"
  ></uh4d-record-user-metadata>
</div>

<div *ngIf="canEditImage || record.description">
  <strong>Description</strong>
  <p>
    <uh4d-textarea-edit
      [(ngModel)]="record.description"
      (saved)="updateImage('description')"
      [enabled]="canEditImage"
    ></uh4d-textarea-edit>
  </p>
</div>

<div>
  <strong>Author</strong>
  <p>
    <uh4d-inline-edit
      [(ngModel)]="record.author"
      (saved)="updateImage('author')"
      [suggestionsFn]="queryAuthors"
      [enabled]="canEditImage"
    ></uh4d-inline-edit>
  </p>
</div>

<div>
  <strong>Date</strong>
  <p>
    <uh4d-date-edit
      [(ngModel)]="record.date"
      (saved)="updateImage('date')"
      [enabled]="canEditImage"
    ></uh4d-date-edit>
  </p>
</div>

<div *ngIf="canEditImage || record.owner">
  <strong>Owner</strong>
  <p>
    <uh4d-inline-edit
      [(ngModel)]="record.owner"
      (saved)="updateImage('owner')"
      [suggestionsFn]="queryLegalBodies"
      [enabled]="canEditImage"
    ></uh4d-inline-edit>
  </p>
</div>

<div *ngIf="canEditImage || record.misc">
  <strong>Miscellaneous</strong>
  <p>
    <uh4d-textarea-edit
      [(ngModel)]="record.misc"
      (saved)="updateImage('misc')"
      [enabled]="canEditImage"
    ></uh4d-textarea-edit>
  </p>
</div>

<div>
  <strong>Tags</strong>
  <p>
    <uh4d-tags-edit
      [(ngModel)]="record.tags"
      (saved)="updateImage('tags')"
      [suggestionsFn]="queryTags"
      [enabled]="canEditImage"
    ></uh4d-tags-edit>
  </p>
</div>

<div *ngIf="record.captureNumber">
  <strong>Capture number</strong>
  <p>{{ record.captureNumber }}</p>
</div>

<div *ngIf="canEditImage || record.permalink">
  <strong>Repository</strong>
  <p>
    <uh4d-inline-edit
      [(ngModel)]="record.permalink"
      (saved)="updateImage('permalink')"
      [enabled]="canEditImage"
      type="url"
    ></uh4d-inline-edit>
  </p>
</div>

<div *ngIf="canEditImage">
  <div class="custom-control custom-switch mb-3">
    <input
      type="checkbox"
      id="restrictedAccessSwitch"
      class="custom-control-input"
      [(ngModel)]="record.restrictedAccess"
      (change)="updateImage('restrictedAccess')"
    />
    <label class="custom-control-label" for="restrictedAccessSwitch">
      Restrict access to full-size image due to copyright restrictions.
    </label>
  </div>
</div>

<div *ngIf="canEditImage && record.spatialStatus < 3" class="mb-3">
  <strong>Spatialization status</strong>
  <div class="custom-control custom-radio">
    <input
      type="radio"
      id="status-0"
      class="custom-control-input"
      name="spatialStatus"
      [value]="0"
      [(ngModel)]="record.spatialStatus"
      (change)="updateImage('spatialStatus')">
    <label class="custom-control-label" for="status-0">
      Not yet spatialized
    </label>
  </div>
  <div class="custom-control custom-radio">
    <input
      type="radio"
      id="status-2"
      class="custom-control-input"
      name="spatialStatus"
      [value]="1"
      [(ngModel)]="record.spatialStatus"
      (change)="updateImage('spatialStatus')">
    <label class="custom-control-label" for="status-2">
      Spatialization not possible
    </label>
  </div>
  <div class="custom-control custom-radio">
    <input
      type="radio"
      id="status-3"
      class="custom-control-input"
      name="spatialStatus"
      [value]="2"
      [(ngModel)]="record.spatialStatus"
      (change)="updateImage('spatialStatus')">
    <label class="custom-control-label" for="status-3">
      Spatialization may be possible in future (if model gets extended)
    </label>
  </div>
</div>

<div class="border border-dark p-2 mb-3" *ngIf="canEditImage">
  <strong>Use as texture</strong>
  <div class="control-group-timespan">
    <span>From</span>
    <uh4d-inline-edit
      [(ngModel)]="record.vrcity_useAsTextureFrom"
      (saved)="updateImage('vrcity_useAsTextureFrom')"
      type="date"
    ></uh4d-inline-edit>
    <span>To</span>
    <uh4d-inline-edit
      [(ngModel)]="record.vrcity_useAsTextureTo"
      (saved)="updateImage('vrcity_useAsTextureTo')"
      type="date"
    ></uh4d-inline-edit>
  </div>
</div>
