@use "variables" as var

\:host
  display: inline
  position: relative

  span
    border-radius: 0.25em
    white-space: pre-wrap
    padding: 0.1em 0
    &:not(.disabled).label
      padding: 0.1em 0.2em
      cursor: pointer
      &:hover
        outline: 1px dotted #000
      &.active
        outline: 1px solid #000
    &.disabled
      background: none !important

.tooltip-content
  font-size: 12px
  line-height: 1.1
  pointer-events: auto
  & > div:not(:last-child)
    border-bottom: 1px solid var.$dark
    padding-bottom: 0.25em
    margin-bottom: 0.25em

::ng-deep .tooltip-inner
  width: max-content

svg
  position: absolute
  top: 0
  left: 0
  pointer-events: none
  overflow: visible
  z-index: 30
  line
    stroke: #000
    stroke-width: 1px
  text
    font-size: 12px
    stroke: red
    background-color: #fff
