<span
  #wrapper
  #tooltip="bs-tooltip"
  [id]="data.data?.id || ''"
  [class.label]="color"
  [class.disabled]="disabled"
  [class.active]="activeTooltip"
  [ngStyle]="{'background-color': color}"
  [tooltip]="tpl"
  [isDisabled]="disabled || !color"
  triggers=""
  placement="auto"
>{{ data.text }}</span>

<ng-template #tpl>
  <div class="tooltip-content" *ngIf="color">
    <div *ngFor="let id of wikidata">
      WD: <b>{{ id.label }}</b><br>
      <small>
        <a
          [href]="'https://www.wikidata.org/wiki/' + id.identifier"
          target="_blank"
        >{{ id.identifier }}</a>
      </small><br>
      <i>{{ id.weight | number:'1.3-3' }}</i>
    </div>
    <div *ngFor="let id of aat">
      AAT: <b>{{ id.label }}</b><br>
      <small>
        <a
          [href]="'https://www.getty.edu/vow/AATFullDisplay?find=&logic=AND&note=&subjectid=' + id.identifier"
          target="_blank"
        >{{ id.identifier }}</a>
      </small><br>
      <i>{{ id.weight | number:'1.3-3' }}</i>
    </div>
  </div>
</ng-template>

<svg #svgElement>
  <g *ngFor="let line of lines">
    <line x1="0" y1="0" [attr.x2]="line.lx" [attr.y2]="line.ly"/>
    <text [attr.x]="line.tx" [attr.y]="line.ty">{{ line.weight | number:'1.3-3' }}</text>
  </g>
</svg>
