<ng-container [ngSwitch]="registerStep">
  <div *ngSwitchDefault>
    <p>
      Enter name, e-mail and phone number.
      You will be sent a code for verification by SMS, which you need to enter in the next step.
    </p>

    <form [formGroup]="form" (ngSubmit)="register()">
      <div class="form-group">
        <label for="register-name">Username</label>
        <input
          id="register-name"
          formControlName="name"
          class="form-control"
          required
          [class.is-invalid]="
            form.controls.name.dirty && form.controls.name.invalid
          " />
        <div class="invalid-feedback">Required</div>
      </div>
      <div class="form-group">
        <label for="register-email">E-Mail</label>
        <input
          id="register-email"
          formControlName="email"
          class="form-control"
          type="email"
          required
          [class.is-invalid]="
            form.controls.email.dirty && form.controls.email.invalid
          " />
        <div class="invalid-feedback">Invalid e-mail</div>
      </div>
      <div class="form-group">
        <label for="register-phone">Phone number</label>
        <input
          id="register-phone"
          formControlName="phone"
          class="form-control"
          type="tel"
          required
          [class.is-invalid]="
            form.controls.phone.dirty && form.controls.phone.invalid
          " />
        <div class="invalid-feedback">Required</div>
      </div>
      <div class="form-group">
        <label for="register-password">Password</label>
        <div class="position-relative">
          <input
            id="register-password"
            formControlName="password"
            class="form-control form-control-password"
            [type]="passwordVisible ? 'text' : 'password'"
            required
            [class.is-invalid]="
              form.controls.password.dirty && form.controls.password.invalid
            " />
          <fa-icon
            class="password-toggle"
            [icon]="passwordVisible ? 'eye-slash' : 'eye'"
            aria-hidden="true"
            (click)="passwordVisible = !passwordVisible"></fa-icon>
          <div class="invalid-feedback">
            <ng-container
              *ngTemplateOutlet="
                errorFeedback;
                context: { $implicit: form.controls.password.errors }
              "></ng-container>
          </div>
        </div>
      </div>
      <div class="form-group custom-control custom-checkbox">
        <input
          id="register-gdpr"
          formControlName="gdprConsent"
          class="custom-control-input"
          type="checkbox"
          required
          [class.is-invalid]="
            form.controls.gdprConsent.dirty &&
            form.controls.gdprConsent.invalid
          " />
        <label class="custom-control-label" for="register-gdpr">
          I consent to the processing of my personal data (name, e-mail address and mobile number).
          Consent is given on a voluntary basis and can be revoked at any time with effect for the future.
          <fa-icon
            icon="info-circle"
            class="cursor-pointer"
            (click)="openPrivacyPolicy($event)"
            aria-hidden="true"></fa-icon>
        </label>
        <div class="invalid-feedback">Required</div>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary btn-block"
          type="submit"
          [disabled]="form.invalid || isLoading">
          Request code
        </button>
      </div>
    </form>
  </div>

  <div *ngSwitchCase="'verify'" class="d-flex flex-column align-items-center">
    <h5 class="mb-3">Enter verification code</h5>

    <code-input
      [codeLength]="6"
      [initialFocusField]="0"
      (codeCompleted)="verifyCode($event)"
      [disabled]="isVerifying"></code-input>

    <p class="mt-4">
      You should now receive a SMS with the verification code.
      If this doesn't happen within the next minutes, go one step back,
      check your data, and request a code again.
    </p>
    <button class="btn btn-outline-warning btn-block" (click)="backToForm()">
      Back to sign-in form
    </button>
  </div>
</ng-container>

<ng-template #errorFeedback let-error>
  <div *ngIf="error?.required">Required</div>
  <div *ngIf="error?.minlength">
    Minimum of 6 characters are required
  </div>
  <div *ngIf="error?.pattern">Space characters are forbidden</div>
</ng-template>
