.preview-container
  height: 250px
  position: relative
  & > uh4d-text-viewer
    height: 100%

.info-header
  display: flex
  justify-content: space-between
  align-items: flex-start

uh4d-map-interactive
  height: 250px
  & + button
    position: absolute
    right: 0
    bottom: 0
    z-index: 1000

