<div class="preview-container">
  <uh4d-text-viewer
    [file]="text.file"
  ></uh4d-text-viewer>
</div>

<div class="info-container mx-3">

  <div class="info-header border-bottom border-secondary">
    <h5 class="w-100 mt-2">{{ text.title }}</h5>
    <button
      type="button"
      class="close p-2"
      aria-label="Close"
      routerLink="../.."
      queryParamsHandling="preserve"
      [preserveFragment]="true"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="info-body py-3">

    <uh4d-text-metadata [text]="text"></uh4d-text-metadata>

    <div class="position-relative" *ngIf="locations.length">
      <uh4d-map-interactive
        class="mb-3"
        [location]="locations"
        navigation="noScroll"
      ></uh4d-map-interactive>

      <button class="btn btn-sm btn-secondary" (click)="openScene()">Open scene</button>
    </div>

    <ng-container *ngxPermissionsOnly="'validateContent'">
      <uh4d-record-validation-box
        *ngIf="canValidate"
        [record]="text"
        [isLoading]="isUpdating"
        (validate)="validateText($event)"
      ></uh4d-record-validation-box>
    </ng-container>

  </div>
</div>
