<div class="h-100 p-3 d-flex overflow-hidden">

  <div class="preview-container">
    <uh4d-text-viewer
      [file]="text.file"
      [annotations]="annotations"
      [showAnnotations]="true"
      (annotationQueried)="searchAnnotation($event)"
    ></uh4d-text-viewer>
  </div>

  <div class="info-container ml-4">
    <div class="info-header border-bottom border-secondary">
      <h5 class="w-100 mt-2">{{ text.title }}</h5>
      <button type="button" class="close p-2" aria-label="Close" routerLink="../.." queryParamsHandling="preserve">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="info-body py-3">

      <cdk-accordion>
        <uh4d-accordion-item label="Metadata" [expanded]="true">

          <uh4d-text-metadata [text]="text"></uh4d-text-metadata>

          <div>
            <strong>Associated Objects</strong>
            <p>
              <button
                class="btn btn-secondary btn-sm mr-2"
                *ngFor="let obj of text.objects"
                (click)="openRecord('object', obj)"
                title="Open object"
              >{{ obj.name }}</button>
            </p>
          </div>

          <ng-container *ngxPermissionsOnly="'validateContent'">
            <uh4d-record-validation-box
              *ngIf="canValidate"
              [record]="text"
              [isLoading]="isUpdating"
              (validate)="validateText($event)"
            ></uh4d-record-validation-box>
          </ng-container>

        </uh4d-accordion-item>

        <uh4d-accordion-item label="Annotations" #annotationAccordionItem="uh4dAccordionItem">
          <ng-container *ngIf="annotations.length; else noAnnotations">
            <uh4d-annotation-cloud
              *ngIf="annotationAccordionItem.expanded"
              [annotations]="annotations"
            ></uh4d-annotation-cloud>
          </ng-container>
          <ng-template #noAnnotations>
            <div class="d-flex justify-content-center lead text-muted">
              No annotations available!
            </div>
          </ng-template>

          <ng-container *ngIf="similarRecords">
            <div class="records-container">
              <div
                *ngFor="let item of similarRecords.objects"
                class="btn btn-secondary btn-sm m-1"
                (click)="openRecord('object', item)"
              >
                {{ item.title }}<br>
                <span>{{ item.maxSimilarity | number:'1.1-6' }}</span>
              </div>
            </div>
            <div class="records-container">
              <uh4d-record-card-item
                *ngFor="let item of similarRecords.images"
                [item]="item"
                [similarity]="item.maxSimilarity"
                (click)="openRecord('image', item)"
              ></uh4d-record-card-item>
            </div>
            <div class="records-container">
              <uh4d-record-card-item
                *ngFor="let item of similarRecords.texts"
                [item]="item"
                [similarity]="item.maxSimilarity"
                (click)="openRecord('text', item)"
              ></uh4d-record-card-item>
            </div>
          </ng-container>
        </uh4d-accordion-item>
      </cdk-accordion>

    </div>

    <div class="info-footer border-top border-secondary">
      <div>
        <ng-container *ngIf="canEditText">
          <button
            *ngIf="expertMode"
            class="btn btn-sm btn-outline-danger"
            (click)="removeText()"
          >
            <fa-icon icon="trash"></fa-icon> Delete
          </button>
        </ng-container>
      </div>
    </div>
  </div>

</div>
