@use "variables" as var

\:host
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: var.$body-bg

.preview-container
  flex: 1 1 auto
  position: relative

  uh4d-text-viewer
    height: 100%

.info-container
  flex: 0 0 40%
  display: flex
  flex-direction: column
  overflow-wrap: anywhere

.info-header
  display: flex
  justify-content: space-between
  align-items: flex-start

.info-body
  flex: 1
  overflow-y: auto

.info-footer
  padding-top: 0.5rem
  & > div
    display: flex
    flex-wrap: wrap
    margin: -0.25rem
    & > *
      margin: 0.25rem

.records-container
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly

  .btn > span
    font-size: 12px
    color: #f00
    background-color: rgba(#fff, 0.7)
