<div class="resize-handle" title="Resize" #resizeHandle *ngIf="!collapsed">
  <span></span>
</div>

<div class="collapsible-container" *ngIf="!collapsed">

  <div class="collapse-header">
    <fa-icon
      icon="angle-double-right"
      class="collapse-button mr-1"
      title="Collapse"
      (click)="toggle(true)"
    ></fa-icon>
    <span
      class="results-tab"
      [class.active]="activeTab === 'images'"
      (click)="setActiveTab('images')"
    >Images ({{ imagesLength }})</span>
    <span
      class="results-tab"
      [class.active]="activeTab === 'texts'"
      (click)="setActiveTab('texts')"
    >Texts ({{ textsLength }})</span>
  </div>

  <div class="collapse-content">
    <uh4d-records-pages
      *ngIf="activeTab === 'images'"
      [records]="searchManager.images$ | async"
      [loading]="searchManager.imagesLoading$ | async"
      [recordExtraTpl]="imageCardExtraTpl"
      [headerExtraTpl]="imageHeaderExtraTpl"
      loadingText="Querying images..."
      (recordClick)="openImage($event)"
      [extraFilter]="true"
    ></uh4d-records-pages>

    <ng-template #imageHeaderExtraTpl>
      <div *ngxPermissionsOnly="'uploadImages'" style="margin: 0.12rem 0.5rem">
        <button class="btn btn-sm btn-secondary" (click)="openUploadModal()">
          <fa-icon icon="cloud-upload-alt"></fa-icon> Upload
        </button>
      </div>
    </ng-template>

    <ng-template #imageCardExtraTpl let-item>
      <div class="media-flags">
        <fa-icon
          *ngIf="item.spatialStatus >= 3"
          icon="cam-spatial-solid"
          title="Spatialized (Jump to location)"
          (click)="zoomImage($event, item)"
        ></fa-icon>
        <fa-icon
          *ngIf="item.spatialStatus === 0"
          icon="cam-spatial-empty"
          title="Not yet spatialized"
        ></fa-icon>
        <fa-icon
          *ngIf="item.spatialStatus === 1"
          icon="cam-spatial-slash"
          title="Spatialization not possible"
        ></fa-icon>
        <fa-icon
          *ngIf="item.spatialStatus === 2"
          icon="cam-spatial-fog"
          title="Spatialization may be possible in future"
        ></fa-icon>
        <fa-icon
          *ngIf="item.annotationsAvailable"
          icon="img-annotation"
          title="Annotated"
          (click)="openImageWithAnnotations($event, item)"
        ></fa-icon>
        <fa-icon
          *ngIf="item.pending"
          icon="triangle-exclamation"
          class="text-warning"
          title="Unvalidated"
        ></fa-icon>
        <fa-icon
          *ngIf="item.declined"
          icon="triangle-exclamation"
          class="text-danger"
          title="Declined"
        ></fa-icon>
      </div>
    </ng-template>

    <uh4d-records-pages
      *ngIf="activeTab === 'texts'"
      [records]="searchManager.texts$ | async"
      [loading]="searchManager.textsLoading$ | async"
      [recordExtraTpl]="textCardExtraTpl"
      loadingText="Querying texts..."
      (recordClick)="openText($event)"
    ></uh4d-records-pages>

    <ng-template #textCardExtraTpl let-item>
      <div class="media-flags">
        <fa-icon
          *ngIf="item.annotationsAvailable"
          icon="img-annotation"
          title="Annotated"
          (click)="openTextWithAnnotations($event, item)"
        ></fa-icon>
        <fa-icon
          *ngIf="item.pending"
          icon="triangle-exclamation"
          class="text-warning"
          title="Pending"
        ></fa-icon>
        <fa-icon
          *ngIf="item.declined"
          icon="triangle-exclamation"
          class="text-danger"
          title="Declined"
        ></fa-icon>
      </div>
    </ng-template>
  </div>

</div>

<div class="collapsed-container w-100" *ngIf="collapsed">
  <div>

    <div class="text-center p-1">
      <fa-icon
        icon="angle-double-left"
        class="collapse-button"
        title="Expand"
        (click)="toggle(false)"
      ></fa-icon>
    </div>

    <div class="results-tab-vertical" (click)="setActiveTab('images')">
      Images ({{ imagesLength }})
    </div>
    <div class="results-tab-vertical" (click)="setActiveTab('texts')">
      Texts ({{ textsLength }})
    </div>

  </div>
</div>
