@import "variables"

$backgroundColor: $gray-800

\:host
  display: flex
  flex-grow: 0
  flex-shrink: 0

.collapsible-container
  flex: 1 1 auto
  display: flex
  flex-direction: column

.collapse-header
  flex: 0 0 auto
  background-color: $backgroundColor
  display: flex

.collapse-content
  flex: 1 1 auto

.resize-handle
  flex: 0 0 auto
  width: 12px
  background-color: $backgroundColor
  display: flex
  justify-content: center
  align-items: center
  cursor: col-resize
  & > span
    width: 6px
    height: 30px
    border: solid $gray-600
    border-width: 0 1px
  &:hover
    background-color: $gray-700

.collapse-button
  padding: 0.25rem
  opacity: 0.7
  &:hover
    opacity: 1
    cursor: pointer

.collapsed-container
  background-color: $backgroundColor

.results-tab
  padding: 0.25rem 1.0rem
  cursor: pointer
  background-color: rgba($dark, 0.3)
  &:hover
    background-color: rgba($dark, 0.7)
  &.active
    background-color: $dark

.results-tab-vertical
  writing-mode: vertical-rl
  padding-top: 0.5rem
  padding-bottom: 0.5rem
  padding-left: 0.25rem
  padding-right: 0.25rem
  cursor: pointer
  background-color: rgba($dark, 0.3)
  &:hover
    background-color: rgba($dark, 0.7)

.media-flags
  & > fa-icon
    margin: 0 1.5px
    cursor: pointer
    color: $gray-600
    &:hover
      color: $gray-100
