@use "variables" as var

:host
  display: flex
  align-items: center
  gap: 0.5rem

.validation-status
  display: flex
  gap: 0.5rem
  line-height: 1

.user-metadata
  font-size: 10px
  color: var.$text-muted
