<div class="validation-status" *ngIf="metadata.pending || metadata.declined">
  <fa-icon *ngIf="metadata.pending" class="text-warning" icon="triangle-exclamation" title="Pending"></fa-icon>
  <fa-icon *ngIf="metadata.declined" class="text-danger" icon="triangle-exclamation" title="Declined"></fa-icon>
</div>
<div class="user-metadata" [style.text-align]="alignment">
  <div *ngIf="metadata.createdBy">
    Created by {{ metadata.createdBy.username }} &ndash;
    <span class="cursor-pointer" [tooltip]="createdTooltip">
      {{ metadata.createdBy.timestamp | date: 'mediumDate' }}
    </span>
    <ng-template #createdTooltip>
      <small>
        {{ metadata.createdBy.timestamp | date: 'medium' }}
      </small>
    </ng-template>
  </div>
  <div *ngIf="metadata.uploadedBy">
    Uploaded by {{ metadata.uploadedBy.username }} &ndash;
    <span class="cursor-pointer" [tooltip]="uploadedTooltip">
      {{ metadata.uploadedBy.timestamp | date: 'mediumDate' }}
    </span>
    <ng-template #uploadedTooltip>
      <small>
        {{ metadata.uploadedBy.timestamp | date: 'medium' }}
      </small>
    </ng-template>
  </div>
  <div *ngIf="metadata.editedBy">
    Edited by {{ metadata.editedBy.username }} &ndash;
    <span class="cursor-pointer" [tooltip]="editedTooltip">
      {{ metadata.editedBy.timestamp | date: 'mediumDate' }}
    </span>
    <ng-template #editedTooltip>
      <small>
        {{ metadata.editedBy.timestamp | date: 'medium' }}
      </small>
    </ng-template>
  </div>
</div>
