<div class="container-fluid h-100">

  <div class="row tabs">
    <div class="flex-fill">
      <span>Time Slider</span>
      <div>
        <uh4d-time-slider id="exhibition-slider"></uh4d-time-slider>
      </div>
    </div>


    <div>
      <span>Visualizations</span>
      <div class="d-flex overflow-hidden">
        <div
          *ngFor="let viz of availableViz"
          class="viz-item"
          [class.active]="activeType === viz[0]"
          (click)="selectViz(viz[0])"
        >
          <img [src]="viz[1].imgSrc">
          <div class="viz-label">
            <span>{{ viz[1].label }}</span>
          </div>
        </div>
        <div
          class="viz-item"
          [class.active]="activeType === 'none'"
          (click)="selectViz('none')"
        >
          <div class="viz-none"></div>
          <div class="viz-label">
            <span><fa-icon icon="ban"></fa-icon> None</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
