@use "variables" as var

$collapsedHeight: 70px
$titleHeight: 20px

\:host
  position: relative
  height: $collapsedHeight
  display: block

.tabs
  height: 100%

  & > div
    height: 100%
    padding: 0
    border-left: 1px solid var.$secondary
    display: flex
    flex-direction: column

    & > span
      flex: 0 0 $titleHeight
      padding: 1px 0.5rem 0
      font-size: 13px
      text-transform: uppercase

    & > div
      flex: 1
      position: relative

.viz-item
  position: relative
  width: 120px
  cursor: pointer
  margin: 1px

  img
    width: 100%
    height: 100%
    object-fit: cover

  .viz-label
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: center
    text-shadow: 0 0 5px #000
    outline: 1px solid var.$gray-700

  &:hover .viz-label
    outline: 1px solid var.$primary
  &.active .viz-label
    border: 1px solid var.$primary
    outline: 1px solid var.$primary

.viz-none
  width: 100%
  height: 100%
  background-color: var.$gray-700
