<canvas #canvasElement></canvas>

<div
  class="svg-tooltip tooltip bs-tooltip-right"
  [class.show]="showTooltip"
  [style.left.px]="tooltipPosition.left"
  [style.top.px]="tooltipPosition.top"
>
  <div class="tooltip-arrow arrow"></div>
  <div class="tooltip-inner">
    <div class="tooltip-content">
      <div *ngFor="let id of wikidata">
        WD: <b>{{ id.label }}</b><br>
        <small>
          <a
            [href]="'https://www.wikidata.org/wiki/' + id.identifier"
            target="_blank"
          >{{ id.identifier }}</a>
        </small><br>
        <i>{{ id.weight | number:'1.3-3' }}</i>
      </div>
      <div *ngFor="let id of aat">
        AAT: <b>{{ id.label }}</b><br>
        <small>
          <a
            [href]="'https://www.getty.edu/vow/AATFullDisplay?find=&logic=AND&note=&subjectid=' + id.identifier"
            target="_blank"
          >{{ id.identifier }}</a>
        </small><br>
        <i>{{ id.weight | number:'1.3-3' }}</i>
      </div>
    </div>
  </div>
</div>
