@use "variables" as var

\:host
  overflow: hidden
  display: block
  position: relative

canvas:focus
  outline: none

.svg-tooltip
  position: absolute
  pointer-events: none

  .tooltip-arrow
    top: 5px

  .tooltip-content
    font-size: 12px
    line-height: 1.1
    pointer-events: auto
    & > div:not(:last-child)
      border-bottom: 1px solid var.$dark
      padding-bottom: 0.25em
      margin-bottom: 0.25em
