<div *ngIf="transformGroup" class="p-2 small">

  <div class="mb-2">
    <h6>Gizmo configuration</h6>
    <div><kbd>Q</kbd> World | Local space</div>
    <div><kbd>W</kbd> Translate</div>
    <div><kbd>E</kbd> Rotate</div>
    <div><kbd>R</kbd> Scale</div>
    <div><kbd>S</kbd> Toggle Snap</div>
  </div>

  <div class="mb-2">
    <h6>Reset</h6>
    <div><button class="btn btn-secondary btn-sm mb-1" (click)="reset('position')">Position</button></div>
    <div><button class="btn btn-secondary btn-sm mb-1" (click)="reset('quaternion')">Rotation</button></div>
    <div><button class="btn btn-secondary btn-sm" (click)="reset('scale')">Scale</button></div>
  </div>

  <div>
    <button
      class="btn btn-sm btn-primary"
      (click)="save()"
      [disabled]="isSaving"
    ><fa-icon icon="save"></fa-icon> Save</button>&nbsp;
    <button
      class="btn btn-sm btn-secondary"
      (click)="abort()"
      [disabled]="isSaving"
    ><fa-icon icon="times"></fa-icon> Abort</button>
  </div>

</div>
