<label [attr.for]="id">{{ label }}</label>
<div>
  <span *ngIf="left" class="mr-2">
    <ng-container *ngTemplateOutlet="left"></ng-container>
  </span>
  <input
    type="range"
    class="custom-range"
    [attr.id]="id"
    [attr.min]="min" [attr.max]="max" [attr.step]="step"
    [(ngModel)]="value"/>
  <span *ngIf="right" class="ml-2">
    <ng-container *ngTemplateOutlet="right"></ng-container>
  </span>
</div>
