@use "variables" as var

\:host
  position: absolute
  top: 0
  left: 0
  pointer-events: none

  & > div
    position: absolute
    pointer-events: auto
    padding: 20px

ul
  background-color: var.$dark

  & > li
    white-space: nowrap
    &.list-group-item-title
      padding: 0.1rem 0.5rem
      font-size: 0.8rem
      & > span
        width: 0
    &.list-group-item-action
      padding: 0.25rem 0.5rem
      font-size: 0.85rem
      cursor: pointer
