<div
  *ngIf="options"
  [style.left.px]="position.left"
  [style.top.px]="position.top"
  (mouseleave)="onMouseLeave()"
>
  <ul class="list-group">
    <li
      *ngIf="options.title"
      class="list-group-item list-group-item-title bg-primary d-flex"
      [title]="options.title"
    >
      <span class="flex-grow-1 text-truncate">{{ options.title }}</span>
    </li>
    <li
      class="list-group-item list-group-item-action"
      *ngFor="let action of options.actions"
      (click)="onClick(action)">
      <fa-icon [icon]="action.icon"></fa-icon>&ensp;{{ action.label }}
    </li>
  </ul>
</div>
