<uh4d-canvas3d></uh4d-canvas3d>

<div class="viewport-hud">
  <uh4d-isolation-controls></uh4d-isolation-controls>
  <uh4d-simple-preview *uh4dExhibitionMode="true"></uh4d-simple-preview>
  <uh4d-compass></uh4d-compass>
  <uh4d-viewport-controls *uh4dExhibitionMode="false"></uh4d-viewport-controls>
  <uh4d-spatialize-manual></uh4d-spatialize-manual>
  <uh4d-transform-controls></uh4d-transform-controls>
  <uh4d-projection-controls></uh4d-projection-controls>
  <uh4d-tour-controls></uh4d-tour-controls>
  <uh4d-viewport-tooltip></uh4d-viewport-tooltip>
  <uh4d-viewport-context-menu></uh4d-viewport-context-menu>
  <uh4d-load-progress></uh4d-load-progress>
</div>
