<div class="mb-1 d-flex justify-content-end">
  <uh4d-record-user-metadata
    class="mr-3"
    [metadata]="record"
    alignment="right"
  ></uh4d-record-user-metadata>
</div>

<div>
  <strong>Erection</strong>
  <p>
    <uh4d-inline-edit
      [(ngModel)]="record.date.from"
      (saved)="updateObject('from')"
      [enabled]="canEditObject"
      type="date"
    ></uh4d-inline-edit>
  </p>
</div>

<div>
  <strong>Destruction</strong>
  <p>
    <uh4d-inline-edit
      [(ngModel)]="record.date.to"
      (saved)="updateObject('to')"
      [enabled]="canEditObject"
      type="date"
    ></uh4d-inline-edit>
  </p>
</div>

<div>
  <strong>Address</strong>
  <p>
    <uh4d-inline-edit
      [(ngModel)]="record.address"
      (saved)="updateObject('address')"
      [suggestionsFn]="queryAddresses"
      [enabled]="canEditObject"
    ></uh4d-inline-edit>
  </p>
</div>

<div>
  <strong>Former Addresses</strong>
  <p></p>
</div>

<div>
  <strong>Further Information</strong>
  <p>
    <uh4d-textarea-edit
      [(ngModel)]="record.misc"
      (saved)="updateObject('misc')"
      [enabled]="canEditObject"
    ></uh4d-textarea-edit>
  </p>
</div>

<div>
  <strong>Tags</strong>
  <p>
    <uh4d-tags-edit
      [(ngModel)]="record.tags"
      (saved)="updateObject('tags')"
      [suggestionsFn]="queryTags"
      [enabled]="canEditObject"
    ></uh4d-tags-edit>
  </p>
</div>

<div class="border border-dark p-2" *ngIf="canEditObject">
  <div class="mb-1 small font-weight-bold">Display Settings</div>
  <div class="custom-control custom-switch">
    <input
      type="checkbox"
      id="noEdgesSwitch"
      class="custom-control-input"
      [(ngModel)]="record.vrcity_noEdges"
      (change)="updateObject('vrcity_noEdges')"
    />
    <label class="custom-control-label" for="noEdgesSwitch">Hide generated edges</label>
  </div>
  <div class="mt-2 mb-1 small font-weight-bold">VRCity App Settings</div>
  <div class="custom-control custom-switch">
    <input
      type="checkbox"
      id="forceTexturesSwitch"
      class="custom-control-input"
      [(ngModel)]="record.vrcity_forceTextures"
      (change)="updateObject('vrcity_forceTextures')"
    />
    <label class="custom-control-label" for="forceTexturesSwitch">
      Force textures (instead of Projective Material in 4DCity app)
    </label>
  </div>
</div>
