<div class="list-header border border-secondary border-left-0 border-right-0">
  <uh4d-records-filter
    [(filterValue)]="filter"
    (filterValueChange)="sortItems()"
    [extraFilter]="extraFilter"
    [headerExtraTpl]="headerExtraTpl"
  ></uh4d-records-filter>
</div>

<div class="list-body" #listBodyElement>
  <div class="h-100 d-flex justify-content-center align-items-center lead" *ngIf="!itemsRaw.length">
    No search results!
  </div>

  <div
    class="list-media"
    *ngIf="itemsRaw.length && filter.listStyle === 'list'"
  >
    <uh4d-record-media-item
      *ngFor="let item of itemsSorted"
      [item]="item"
      [cardExtraTpl]="recordExtraTpl"
      [similarity]="item.relevance"
      [showMetadataDate]="showMetadataDate"
      (click)="recordClick.emit(item)"
    ></uh4d-record-media-item>
  </div>

  <div
    class="list-card"
    [ngClass]="'justify-content-' + cardsAlignment"
    *ngIf="itemsRaw.length && filter.listStyle === 'card'"
  >
    <uh4d-record-card-item
      *ngFor="let item of itemsSorted"
      [item]="item"
      [cardExtraTpl]="recordExtraTpl"
      [similarity]="item.relevance"
      [showMetadataDate]="showMetadataDate"
      (click)="recordClick.emit(item)"
    ></uh4d-record-card-item>
  </div>
</div>

<div class="list-footer border-top border-secondary d-flex justify-content-center">

  <pagination
    class="pagination-sm"
    [(ngModel)]="currentPage"
    (pageChanged)="onPageChange()"
    [totalItems]="itemsRaw.length"
    [itemsPerPage]="filter.itemsPerPage"
    [maxSize]="5"
    [boundaryLinks]="true"
    [directionLinks]="true"
    [customFirstTemplate]="firstTemplate"
    [customLastTemplate]="lastTemplate"
    [customPreviousTemplate]="previousTemplate"
    [customNextTemplate]="nextTemplate"
  ></pagination>

</div>
<ng-template #firstTemplate>
  <fa-icon icon="angle-double-left" title="First page"></fa-icon>
</ng-template>

<ng-template #lastTemplate>
  <fa-icon icon="angle-double-right" title="Last page"></fa-icon>
</ng-template>

<ng-template #previousTemplate>
  <fa-icon icon="angle-left" title="Previous page"></fa-icon>
</ng-template>

<ng-template #nextTemplate title="Next page">
  <fa-icon icon="angle-right"></fa-icon>
</ng-template>

<div class="loading-screen" *ngIf="isLoading">
  <span class="spinner-border" role="status"></span>
  <span class="lead mt-3">{{ loadingText }}</span>
</div>
