\:host
  height: 100%
  position: relative
  display: flex
  flex-direction: column

.list-header
  flex: 0 0 auto

.list-body
  flex: 1 1 0
  overflow-y: auto

.list-media
  uh4d-record-media-item
    margin: 9px

.list-card
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly

.list-footer
  flex: 0 0 auto
  padding: 0.25rem

  pagination ::ng-deep ul
    margin: 0

.loading-screen
  position: absolute
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: rgba(#000, 0.2)
  backdrop-filter: blur(3px)
  z-index: 5
