@import "variables"

\:host
  display: flex
  justify-content: center
  font-size: 0.85rem

span
  margin: 0 1rem
  &:not(:first-child)::before
    content: '|'
    margin-right: 2rem

span, a
  color: $gray-500

a:hover
  color: $gray-300
