@import "variables"

\:host
  width: 100%
  height: 100%
  pointer-events: none !important

.tooltip-dialog
  position: absolute

  & > *
    position: relative

.tooltip-image
  border: 1px solid $primary

.tooltip-object
  & > .tooltip-label
    background-color: rgba($body-bg, 0.6)
    padding: 0 0.4rem
    white-space: nowrap
    border: 1px solid $primary
    position: absolute
    transform: translate(0,-100%)
    top: -20px
  & > .tooltip-line
    position: absolute
    height: 20px
    border-left: 2px solid $primary
    left: -1px
  & > .tooltip-dot
    width: 8px
    height: 8px
    border-radius: 4px
    background-color: $primary
    position: absolute
    left: -4px
    top: -4px
