<div class="tooltip-dialog"
     #dialogElement
     [ngStyle]="{left: position.x + 'px', top: position.y + 'px'}"
     [class.invisible]="!active">

  <img class="tooltip-image"
       *ngIf="image"
       [ngStyle]="tooltipStyle.image"
       [src]="'data/' + image.source.file.path + image.source.file.thumb"
       [alt]="image.source.title"/>

  <div class="tooltip-object" *ngIf="object">
    <div class="tooltip-label" [ngStyle]="tooltipStyle.label">{{object.label}}</div>
    <div class="tooltip-line" [ngStyle]="tooltipStyle.line"></div>
    <div class="tooltip-dot"></div>
  </div>

</div>
