@use "variables" as var

:host
  display: flex
  gap: 1rem
  height: 100%

.list-container
  flex: 1
  display: flex
  flex-direction: column
  height: 100%

.tabs-container
  display: flex
  justify-content: center
  gap: 2rem

.btn-tab
  background-color: rgba(var.$dark, 0.3)
  &:hover
    background-color: rgba(var.$dark, 0.7)
  &.active
    background-color: var.$dark

uh4d-records-pages
  flex: 1

.media-flags
  & > fa-icon
    margin: 0 1.5px
    cursor: pointer
    color: var.$gray-600
    &:hover
      color: var.$gray-100

.media-date
  font-size: 10px
  color: var.$text-muted

.detail-container
  max-width: 30%
  overflow-y: auto
  overflow-x: hidden
  &::ng-deep > router-outlet + *
    display: block
    min-width: 400px
