<p class="small text-center text-muted font-italic">
  Experimental automatic generation of an image caption
</p>

<p class="d-flex justify-content-center">
  <button
    class="btn btn-secondary btn-sm"
    [disabled]="isLoading"
    (click)="generateCaption()">
    <fa-icon icon="repeat"></fa-icon> Generate image caption
  </button>
</p>

<blockquote class="blockquote text-center" *ngIf="imageCaption">
  <p class="border border-dark">{{ imageCaption }}</p>
</blockquote>

<p class="lead text-muted text-center" *ngIf="showEmptyCaptionHint">
  Not enough information available to generate an image caption.
</p>
