<div *ngIf="record.pending || record.declined" class="p-2 bg-warning text-dark">
  <p>This record has not yet been validated by a moderator and is therefore excluded from the search results.
    <ng-container *ngIf="record.uploadedBy">
      <br/> Uploaded by user <b>{{ record.uploadedBy.username }}</b> at <b>{{ record.uploadedBy.timestamp | date: 'medium' }}</b>.
    </ng-container>
    <br/>By accepting, this record will be visible for everyone.
    <br/>Declining will remove it from pending list, but not delete it.
  </p>
  <p *ngIf="record.declined" class="p-2 bg-danger text-white">This image has already been declined!</p>
  <button class="btn btn-sm btn-secondary" [disabled]="isLoading" (click)="validate.emit(true)">
    <fa-icon icon="check"></fa-icon> Accept
  </button>
  <button class="btn btn-sm btn-secondary ml-2" [disabled]="isLoading" (click)="validate.emit(false)">
    <fa-icon icon="times"></fa-icon> Decline
  </button>
</div>
