@use "variables" as var

$backgroundColor: rgba(#333, 0.8)
$hoverColor: var.$gray-600
$activeColor: var.$warning

\:host
  display: block

.north
  cursor: pointer
  position: absolute
  top: -5px
  left: -5px
  display: flex
  justify-content: center
  align-items: center
  width: 16px
  height: 16px
  font-size: 12px
  background: $backgroundColor
  color: white
  border: 1px solid $hoverColor
  &:hover
    border: 1px solid $activeColor

img
  position: absolute
  width: 100%
  left: 50%
  top: 50%

.home-button
  position: absolute
  cursor: pointer
  top: -30px
  left: 50%
  transform: translate(-50%,-100%)
  font-size: 24px
  background: $backgroundColor
  width: 50px
  height: 50px
  display: flex
  justify-content: center
  align-items: center
  border: 1px solid $hoverColor
  &:hover
    border: 1px solid $activeColor
