<img #img src="assets/compass_v04.svg" alt="Compass rose"/>
<div class="north" title="Align North" (click)="alignNorth()">N</div>

<div
  *uh4dExhibitionMode="true"
  class="home-button"
  (click)="callHomeView()"
>
  <fa-icon icon="home"></fa-icon>
</div>
