<div class="d-flex h-100">
  <div class="nav-container p-3 border-right border-secondary">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="uploads"
          routerLinkActive="active"
        >My uploads</a>
      </li>
      <ng-template ngxPermissionsOnly="validateContent">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="validation"
            routerLinkActive="active"
          >Validation</a>
        </li>
      </ng-template>
<!--      <li class="nav-item">-->
<!--        <a-->
<!--          class="nav-link"-->
<!--          routerLink="rephotos"-->
<!--          routerLinkActive="active"-->
<!--        >Rephotos</a>-->
<!--      </li>-->
      <ng-template ngxPermissionsOnly="manageAccounts">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="admin/users"
            routerLinkActive="active"
          >Manage users</a>
        </li>
      </ng-template>
    </ul>
  </div>

  <div class="p-3 flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
