.info-container
  display: flex
  flex-direction: column

.info-header
  display: flex
  justify-content: space-between
  align-items: flex-start

.info-body
  flex: 1
  overflow-y: auto
  overflow-x: hidden

.info-footer
  padding-top: 0.5rem
  & > div
    display: flex
    flex-wrap: wrap
    margin: -0.25rem
    & > *
      margin: 0.25rem

uh4d-map-interactive
  height: 250px
  & + button
    position: absolute
    right: 0
    bottom: 0
    z-index: 1000
