<div class="info-container">

  <div class="info-header border-bottom border-secondary">
    <h5 class="w-100 mt-2">
      <fa-icon icon="map-marker-alt"></fa-icon>&ensp;{{ poiValue.title }}
    </h5>
    <button
      type="button"
      class="close p-2"
      aria-label="Close"
      (click)="closed.emit()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="info-body mt-3">
    <div class="d-flex justify-content-end">
      <uh4d-record-user-metadata [metadata]="poiValue" alignment="right"></uh4d-record-user-metadata>
    </div>

    <ng-container *ngIf="!isEditing; else editTpl">

      <uh4d-poi-content [content]="poiValue.content"></uh4d-poi-content>

      <div *ngIf="showMap" class="position-relative">
        <uh4d-map-interactive
          class="mb-3"
          [location]="poiValue.location"
          navigation="noScroll"
        ></uh4d-map-interactive>

        <button class="btn btn-sm btn-secondary" (click)="openScene()">Open scene</button>
      </div>

      <ng-container *ngxPermissionsOnly="'validateContent'">
        <uh4d-record-validation-box
          *ngIf="canValidate"
          [record]="poiValue"
          [isLoading]="isUpdating"
          (validate)="validatePoi($event)"
        ></uh4d-record-validation-box>
      </ng-container>

    </ng-container>

    <ng-template #editTpl>
      <uh4d-poi-form
        [poi]="poiValue"
        (saved)="onSave($event)"
        (canceled)="isEditing = false"
      ></uh4d-poi-form>
    </ng-template>
  </div>

  <div *ngIf="!isEditing" class="info-footer mt-3 border-top border-secondary">
    <div>
      <button class="btn btn-sm btn-secondary" *ngIf="poiValue?.camera" (click)="zoomPoi()">
        <fa-icon icon="street-view"></fa-icon> Jump to location
      </button>
      <button class="btn btn-sm btn-outline-warning" *ngIf="collectedPois" (click)="addToTour()">
        <fa-icon icon="tour-flag-plus"></fa-icon> Add to tour
      </button>
      <ng-container *ngIf="canEditPoi">
        <button class="btn btn-sm btn-secondary" (click)="isEditing = true">
          <fa-icon icon="pencil"></fa-icon> Edit
        </button>
        <button class="btn btn-sm btn-outline-danger" (click)="remove()">
          <fa-icon icon="trash"></fa-icon> Delete
        </button>
      </ng-container>
    </div>
  </div>

</div>
