<div *ngIf="!editing && !value">
  <span class="empty">{{ placeholder }}</span>
  <fa-icon
    class="pencil-icon ml-3"
    title="Edit"
    *ngIf="enabled"
    (click)="edit()"
    icon="pencil-alt"></fa-icon>
</div>
<div *ngIf="!editing && value" class="d-flex">
  <div markdown [data]="value"></div>
  <fa-icon
    class="pencil-icon ml-3"
    title="Edit"
    *ngIf="enabled"
    (click)="edit()"
    icon="pencil-alt"></fa-icon>
</div>
<div *ngIf="editing" class="d-flex">
  <textarea
    #inputElement
    class="form-control form-control-sm border-0"
    rows="3"
    [(ngModel)]="value">
  </textarea>
  <div>
    <button class="btn btn-success btn-sm d-block w-100" title="Save" (click)="save()">
      <fa-icon icon="check"></fa-icon>
    </button>
    <button class="btn btn-danger btn-sm d-block w-100" title="Cancel" (click)="cancel()">
      <fa-icon icon="times"></fa-icon>
    </button>
  </div>
</div>
<div *ngIf="editing" class="small text-muted font-italic">
  Markdown compatible, see <a href="https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf" target="_blank">Cheat Sheet</a>
</div>
